<%-
locals.noLink
        ? `<div class="material-item${locals.disableName ? ' no-name' : ''}">`
        : `<a href="/${
                (material.ItemType === 'ITEM_WEAPON' ? 'weapons' : '') ||
                (material.ItemType === 'ITEM_FURNITURE' ? 'furnishings' : '') ||
                'items'
        }/${material.Id}" class="material-item${locals.disableName ? ' no-name' : ''}">`
%>

<div class="material-card">
  <div class="material-icon<%= locals.noText ? ' no-text' : '' %>" data-quality="<%= material.RankLevel || 0 %>">
    <% if (material.Icon) { %>
      <img src="<%= material.IconUrl ? material.IconUrl : `/images/genshin/${material.Icon}.png` %>" loading="lazy" decoding="async" />
    <% } else { %>
      <img src="/images/genshin/static/Item_Unknown.png" loading="lazy" decoding="async" />
    <% } %>
  </div>
  <% if (material.EffectIcon) { %>
    <img class="effect-icon" src="/images/genshin/<%= material.EffectIcon %>.png" loading="lazy" decoding="async" />
  <% } %>
  <% if (!locals.noText) { %>
    <div class="material-text"><%- locals.itemCount ? escapeHtml(itemCount) : '&mdash;' %></div>
  <% } %>
</div>
<% if (!locals.disableName) { %>
  <span class="material-name"><%= material.NameText %></span>
<% } %>

<%-
locals.noLink ? '</div>' : `</a>`
%>