<%-
locals.noLink
        ? `<div class="material-item${locals.disableName ? ' no-name' : ''}">`
        : `<a href="/${material.WeaponType ? 'weapons' : 'items'}/${material.Id}" class="material-item${locals.disableName ? ' no-name' : ''}">`
%>

<div class="material-card">
  <div class="material-icon<%= locals.noText ? ' no-text' : '' %>" data-quality="<%= material.RankLevel || 0 %>">
    <img src="/images/genshin/<%= material.Icon %>.png" loading="lazy" decoding="async" />
  </div>
  <% if (!locals.noText) { %>
    <div class="material-text"><%- locals.itemCount ? escapeHtml(itemCount) : '&mdash;' %></div>
  <% } %>
</div>
<% if (!locals.disableName) { %>
  <span class="material-name"><%= material.NameText %></span>
<% } %>

<%-
locals.noLink ? '</div>' : `</a>`
%>