<div class="card result-count-card">
  <h2>Total Results: <span><%= searchView.TitleResults.length %> title results &amp; <%= searchView.ContentResults.length %> content results</span></h2>
</div>
<% if (searchView.TitleResults.length) { %>
  <section class="card">
    <h2>Title Match Results</h2>
    <div class="content dispFlex flexWrap alignStart">
      <% for (let readableView of searchView.TitleResults) { %>
        <div class="w100p">
          <%- use('partials/genshin/archive/readable-link', { readableView }) %>
        </div>
      <% } %>
    </div>
  </section>
<% } %>
<% if (searchView.ContentResults.length) { %>
  <% searchView.ContentResults.forEach((readableView, idx) => { %>
    <section class="card">
      <h2>Content Match Result #<%= idx + 1 %></h2>
      <div class="content">
        <%- use('partials/genshin/archive/readable-link', { readableView }) %>
        <div class="spacer3-all">
          <%- use('partials/genshin/archive/readable-texts', {readable: readableView, itemIdPrefix: idx}) %>
        </div>
      </div>
    </section>
  <% }) %>
<% } %>
<% if (!searchView.TitleResults.length && !searchView.ContentResults.length) { %>
  <div class="card no-results-found">
    <div class="content">
      <p>No results found for <b><%= searchText %></b></p>
    </div>
  </div>
<% } %>