<a class="secondary spacer3-all valign textAlignLeft" role="button" href="/readables/item/<%= readableView.Id %>">
  <img class="icon x32" src="/images/genshin/<%= readableView.Icon %>.png" loading="lazy" decoding="async" />
  <% if (!readableView?.Document || readableView.TitleText === readableView?.Document?.TitleText) { %>
    <span class="spacer10-left"><%= readableView.TitleText %></span>
  <% } else { %>
    <div class="spacer10-left">
      <small class="dispBlock"><%= readableView.TitleText %></small>
      <div><%= readableView.Document.TitleText %></div>
    </div>
  <% } %>
</a>