<div>
  <% readable.Items.forEach((item, itemIdx) => {
    let itemRef = (locals.itemIdPrefix ? locals.itemIdPrefix + '-' : '') + itemIdx;
  %>
  <div class="card" style="margin:0">
    <h3><%= item.IsAlternate ? 'Alternate ' : '' %>Page &ndash; <%= item.Index + 1 %></h3>
    <div class="tab-list secondary" role="tablist">
      <button role="tab" id="tab-<%= itemRef %>-text" class="tab active"
              ui-action="tab: #tabpanel-<%= itemRef %>-text, tabgroup-<%= itemRef %>">Text</button>
      <button role="tab" id="tab-<%= itemRef %>-dialogue" class="tab"
              ui-action="tab: #tabpanel-<%= itemRef %>-dialogue, tabgroup-<%= itemRef %>">As Dialogue</button>
      <button role="tab" id="tab-<%= itemRef %>-template" class="tab"
              ui-action="tab: #tabpanel-<%= itemRef %>-template, tabgroup-<%= itemRef %>">As Template</button>
      <% if (item.ReadableImages && item.ReadableImages.length) { %>
        <button role="tab" id="tab-<%= itemRef %>-images" class="tab"
                ui-action="tab: #tabpanel-<%= itemRef %>-images, tabgroup-<%= itemRef %>">Images</button>
      <% } %>
    </div>
    <div role="tabpanel" aria-labelledby="tab-<%= itemRef %>-text" class="tabpanel content active" id="tabpanel-<%= itemRef %>-text">
      <div class="valign spacer5-bottom">
        <div class="valign meta-props no-margin">
          <div class="prop">
            <span class="prop-label">Loc Name</span>
            <span class="prop-values">
              <span class="prop-value"><%= item.LocalizationName %></span>
            </span>
          </div>
          <% if (item.MainQuestTrigger) { %>
            <div class="prop">
              <span class="prop-label">Quest Condition</span>
              <span class="prop-values">
                <a href="/quests/<%= item.MainQuestTrigger.Id %>" class="prop-value"
                   ui-tippy-hover="<%= item.MainQuestTrigger.TitleText %>"><%= item.MainQuestTrigger.Id %></a>
                <span class="prop-value"><%= item.MainQuestTrigger.TitleText %></span>
              </span>
            </div>
          <% } %>
        </div>
        <div class="grow"></div>
        <button class="secondary small" ui-action="copy: #wikitext-<%= itemRef %>-text"
                ui-tippy-hover="Click to copy to clipboard"
                ui-tippy-flash="{content:'Copied!', delay: [0,2000]}">Copy</button>
      </div>
      <textarea id="wikitext-<%= itemRef %>-text" readonly
                data-markers="<%= Marker.joinedString(item.Markers.ReadableText) %>"
                class="w100p wikitext autosize" spellcheck="false" translate="no"
                style="padding-right:46px"><%= item.ReadableText %></textarea>
    </div>

    <div role="tabpanel" aria-labelledby="tab-<%= itemRef %>-dialogue" class="tabpanel content hide" id="tabpanel-<%= itemRef %>-dialogue">
      <div class="valign spacer5-bottom">
        <div class="valign meta-props no-margin">
          <div class="prop">
            <span class="prop-label">Loc Name</span>
            <span class="prop-values">
              <span class="prop-value"><%= item.LocalizationName %></span>
            </span>
          </div>
        </div>
        <div class="grow"></div>
        <button class="dialogue-indent-button secondary small plus" ui-tippy-hover="Increase indent"
                ui-action="wikitext-indent: #wikitext-<%= itemRef %>-dialogue, increase"><%- icon('plus', 16) %></button>
        <button class="dialogue-indent-button secondary small minus" ui-tippy-hover="Decrease indent"
                ui-action="wikitext-indent: #wikitext-<%= itemRef %>-dialogue, decrease"><%- icon('minus', 16) %></button>
        <button class="secondary small spacer3-left" ui-action="copy: #wikitext-<%= itemRef %>-dialogue"
                ui-tippy-hover="Click to copy to clipboard"
                ui-tippy-flash="{content:'Copied!', delay: [0,2000]}">Copy</button>
      </div>
      <textarea id="wikitext-<%= itemRef %>-dialogue" readonly
                data-markers="<%= Marker.joinedString(item.Markers.ReadableTextAsDialogue) %>"
                class="w100p wikitext autosize" spellcheck="false" translate="no"><%= item.ReadableTextAsDialogue %></textarea>
    </div>

    <div role="tabpanel" aria-labelledby="tab-<%= itemRef %>-template" class="tabpanel content hide" id="tabpanel-<%= itemRef %>-template">
      <div class="valign spacer5-bottom">
        <div class="valign meta-props no-margin">
          <div class="prop">
            <span class="prop-label">Loc Name</span>
            <span class="prop-values">
              <span class="prop-value"><%= item.LocalizationName %></span>
            </span>
          </div>
        </div>
        <div class="grow"></div>
        <button class="secondary small" ui-action="copy: #wikitext-<%= itemRef %>-template"
                ui-tippy-hover="Click to copy to clipboard"
                ui-tippy-flash="{content:'Copied!', delay: [0,2000]}">Copy</button>
      </div>
      <textarea id="wikitext-<%= itemRef %>-template" readonly
                data-markers="<%= Marker.joinedString(item.Markers.ReadableTextAsTemplate) %>"
                class="w100p wikitext autosize" spellcheck="false" translate="no"><%= item.ReadableTextAsTemplate %></textarea>
    </div>

    <% if (item.ReadableImages && item.ReadableImages.length) { %>
      <div role="tabpanel" aria-labelledby="tab-<%= itemRef %>-images" class="tabpanel content hide" id="tabpanel-<%= itemRef %>-images">
        <% for (let image of item.ReadableImages) { %>
          <fieldset class="spacer5-top">
            <legend><%= image %></legend>
            <img src="/images/genshin/<%= image %>.png" />
          </fieldset>
        <% } %>
      </div>
    <% } %>
  </div>
  <% })%>
</div>