<div class="card result-count-card">
  <h2>Total Results: <span><%= weapons.length %></span></h2>
</div>
<% if (weapons.length) { %>
  <section class="card">
    <h2>Search Results</h2>
    <div class="content dispFlex flexWrap alignStart">
      <% for (let weapon of weapons) { %>
        <div class="w100p">
          <a href="/weapons/<%= weapon.Id %>" class="secondary spacer3-all valign textAlignLeft" role="button" style="padding:5px">
            <%- use('partials/genshin/archive/item', {material: weapon, noName: true, noCount: true, noLink: true}) %>
            <span class="spacer10-left"><%= weapon.NameText %></span>
          </a>
        </div>
      <% } %>
    </div>
  </section>
<% } %>
<% if (!weapons.length) { %>
  <div class="card no-results-found">
    <div class="content">
      <p>No results found for <b><%= searchText %></b></p>
    </div>
  </div>
<% } %>