
<section class="card">
  <% if (locals.avatars) { %>
    <h2>Character Stories</h2>
    <div class="content dispFlex flexWrap alignStart">
      <% avatars.forEach(avatar => { %>
      <div class="w50p">
        <a class="secondary spacer3-all valign textAlignLeft" role="button" href="/character/stories/<%= avatar.NameText.replaceAll(' ', '_') %>">
          <img class="icon x32" src="/images/avatar/<%= avatar.IconName %>.png" />
          <span class="spacer10-left"><%= avatar.NameText %></span>
        </a>
      </div>
      <% }) %>
    </div>
  <% } %>
  <% if (locals.story) { %>
    <h2>Character Story &mdash; <%= story.avatar.NameText %></h2>
    <div class="tab-list" role="tablist">
      <button role="tab" id="tab-display" class="tab <%= tab === 'display' ? 'active' : '' %>"
        ui-action="tab: #tabpanel-display, storyTabs; set-query-param: tab=display">Display</button>

      <% if (story.hasAlteredStories) { %>
        <button role="tab" id="tab-altered-display" class="tab <%= tab === 'altered-display' ? 'active' : '' %>"
                ui-action="tab: #tabpanel-altered-display, storyTabs; set-query-param: tab=altered-display">Altered Display</button>
      <% } %>

      <button role="tab" id="tab-wikitext" class="tab <%= tab === 'wikitext' ? 'active' : '' %>"
              ui-action="tab: #tabpanel-wikitext, storyTabs; set-query-param: tab=wikitext">Wikitext</button>

      <% if (story.hasAlteredStories) { %>
        <button role="tab" id="tab-altered-wikitext" class="tab <%= tab === 'altered-wikitext' ? 'active' : '' %>"
                ui-action="tab: #tabpanel-altered-wikitext, storyTabs; set-query-param: tab=altered-wikitext">Altered Wikitext</button>
      <% } %>
    </div>
    <div role="tabpanel" aria-labelledby="tab-display" class="tabpanel <%= tab === 'display' ? 'active' : 'hide' %>" id="tabpanel-display">
      <% story.fetters.forEach(fetter => { %>
        <hr>
        <div class="content">
          <h3 class="title-text"><%= fetter.StoryTitleText %></h3>
          <div class="valign metadata-props">
            <% if (fetter.OpenCondsSummary.Friendship) { %>
              <div class="prop">
                <span class="prop-label">Friendship Lv.</span>
                <span class="prop-values">
                  <span class="prop-value"><%= fetter.OpenCondsSummary.Friendship %></span>
                </span>
              </div>
            <% } %>
            <% if (fetter.OpenCondsSummary.Quest) { %>
              <div class="prop">
                <span class="prop-label">Quest</span>
                <span class="prop-values">
                  <span class="prop-value"><%= fetter.OpenCondsSummary.Quest %></span>
                </span>
              </div>
            <% } %>
          </div>
          <div class="context-text"><%- fetter.StoryContextHtml %></div>
        </div>
      <% }) %>
    </div>
    <% if (story.hasAlteredStories) { %>
      <div role="tabpanel" aria-labelledby="tab-altered-display" class="tabpanel <%= tab === 'altered-display' ? 'active' : 'hide' %>" id="tabpanel-altered-display">
        <% story.fetters.filter(f => !!f.StoryContext2Html).forEach(fetter => { %>
          <hr>
          <div class="content">
            <% if (fetter.StoryTitleText === fetter.StoryTitle2Text) { %>
              <h3 class="title-text"><%= fetter.StoryTitle2Text %></h3>
            <% } else { %>
              <h3 class="title-text"><%= fetter.StoryTitleText %> <%- icon('arrow-right', 14) %> <%= fetter.StoryTitle2Text %></h3>
            <% } %>
            <div class="valign metadata-props">
              <% if (fetter.FinishCondsSummary.Friendship) { %>
                <div class="prop">
                  <span class="prop-label">Friendship Lv.</span>
                  <span class="prop-values">
                  <span class="prop-value"><%= fetter.FinishCondsSummary.Friendship %></span>
                </span>
                </div>
              <% } %>
              <% if (fetter.FinishCondsSummary.Quest) { %>
                <div class="prop">
                  <span class="prop-label">Altered after Quest</span>
                  <span class="prop-values">
                  <span class="prop-value"><%= fetter.FinishCondsSummary.Quest %></span>
                </span>
                </div>
              <% } %>
            </div>
            <div class="context-text"><%- fetter.StoryContext2Html %></div>
          </div>
        <% }) %>
      </div>
    <% } %>
    <div role="tabpanel" aria-labelledby="tab-wikitext" class="tabpanel <%= tab === 'wikitext' ? 'active' : 'hide' %>" id="tabpanel-wikitext">
      <div class="content">
        <div class="posRel">
          <textarea id="story-wikitext" readonly class="w100p wikitext autosize" spellcheck="false"><%= story.wikitext %></textarea>
          <button class="secondary posAbs" ui-action="copy: #story-wikitext"
            ui-tippy-hover="Click to copy to clipboard"
            ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
            style="right: 0; top: 0;">Copy</button>
        </div>
      </div>
    </div>
    <% if (story.hasAlteredStories) { %>
      <div role="tabpanel" aria-labelledby="tab-altered-wikitext" class="tabpanel <%= tab === 'altered-wikitext' ? 'active' : 'hide' %>" id="tabpanel-altered-wikitext">
        <div class="content">
          <div class="posRel">
            <textarea id="story-altered-wikitext" readonly class="w100p wikitext autosize" spellcheck="false"><%= story.alteredWikitext %></textarea>
            <button class="secondary posAbs" ui-action="copy: #story-altered-wikitext"
                    ui-tippy-hover="Click to copy to clipboard"
                    ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                    style="right: 0; top: 0;">Copy</button>
          </div>
        </div>
      </div>
    <% } %>
  <% } %>
  <% if (!locals.avatars && !locals.story) { %>
    <h2>Character Stories</h2>
    <div class="content">
      <p>Character not found for "<code><%= avatarId %></code>"</p>
    </div>
  <% } %>
</section>