
<section class="card">
  <% if (locals.companion) { %>
    <h2 class="valign">
      <img class="framed-icon x42" src="/images/genshin/<%= companion.CommonIcon %>.png" loading="lazy" decoding="async" />
      <span class="spacer15-left">Serenitea Pot Companion Dialogue &mdash; <%= companion.CommonName %></span>
    </h2>
  <% } else { %>
    <h2>Serenitea Pot Companion Dialogue</h2>
  <% } %>
  <% if (locals.companions) { %>
    <div class="content dispFlex flexWrap alignStart">
      <% companions.forEach(companion => { %>
        <div class="w50p">
          <a class="secondary spacer3-all valign textAlignLeft" role="button" href="/character/companion-dialogue/<%= companion.CommonName.replace(/ /g, '_') %>">
            <img class="icon x32" src="/images/genshin/<%= companion.CommonIcon %>.png" loading="lazy" decoding="async" />
            <span class="spacer10-left"><%= companion.CommonName %></span>
          </a>
        </div>
      <% }) %>
    </div>
  <% } %>
  <% if (locals.dialogue) { %>
    <div class="content">
      <div class="dialogue-container">
        <% dialogue.forEach(section => { %>
          <%- include('partials/dialogue/dialogue-section', section) %>
        <% }) %>
      </div>
    </div>
  <% } %>
  <% if (!locals.dialogue && locals.hasOwnProperty('dialogue')) { %>
    <div class="content">
      <p>Serenitea Pot Companion not found.</p>
    </div>
  <% } %>
</section>