
<section class="card">
  <h2>Serenitea Pot Companion Dialogue<% if (locals.avatar) { %> &mdash; <%= avatar.NameText %><% } %></h2>
  <% if (locals.characters) { %>
    <div class="content dispFlex flexWrap alignStart">
      <% characters.forEach(character => { %>
        <div class="w50p">
          <a class="secondary spacer3-all valign textAlignLeft" role="button" href="/character/companion-dialogue/<%= character.name.replace(/ /g, '_') %>">
            <img class="icon x32" src="/images/genshin/<%= character.icon %>.png" />
            <span class="spacer10-left"><%= character.name %></span>
          </a>
        </div>
      <% }) %>
    </div>
  <% } %>
  <% if (locals.dialogue) { %>
    <div class="content">
      <div class="dialogue-container">
        <% dialogue.forEach(section => { %>
          <%- include('partials/dialogue/dialogue-section', section) %>
        <% }) %>
      </div>
    </div>
  <% } %>
  <% if (!locals.avatar) { %>
    <div class="content">
      <p>Serenitea Pot Companion not found.</p>
    </div>
  <% } %>
</section>