
<section class="card">
  <h2>Serenitea Pot Companion Dialogue<% if (locals.charName) { %> &mdash; <%= charName %><% } %></h2>
  <% if (locals.characters) { %>
    <div class="content dispFlex flexWrap alignStart">
      <% characters.forEach(character => { %>
        <div class="w50p">
          <a class="secondary spacer3-all valign textAlignLeft" role="button" href="/character/companion-dialogue/<%= character.name.replace(/ /g, '_') %>">
            <img src="/images/avatar/<%= character.icon %>.png" class="spacer10-right" style="width:32px;height:32px;" />
            <span><%= character.name %></span>
          </a>
        </div>
      <% }) %>
    </div>
  <% } %>
  <% if (locals.dialogue) { %>
    <div class="content">
      <div class="dialogue-container">
        <% dialogue.forEach(section => { %>
          <%- include('partials/quests/dialogue-section', section) %>
        <% }) %>
      </div>
    </div>
  <% } else if (locals.charName) { %>
    <div class="content">
      <p>Serenitea Pot Companion not found: <%= charName %></p>
    </div>
  <% } %>
</section>