
<div id="vo-groups">
  <div class="vo-group">
    <div class="vo-group-header">
      <span class="drag-handle"><%- dragHandle() %></span>
      <span>Group 1</span>
    </div>
    <div class="vo-group-body">
      <div class="vo-group-items">
        <div class="vo-item">
          <div class="vo-item-header"><span class="drag-handle"><%- dragHandle() %></span> VO 1.1</div>
        </div>
        <div class="vo-item">
          <div class="vo-item-header"><span class="drag-handle"><%- dragHandle() %></span> VO 1.2</div>
        </div>
        <div class="vo-item">
          <div class="vo-item-header"><span class="drag-handle"><%- dragHandle() %></span> VO 1.3</div>
        </div>
        <div class="vo-item">
          <div class="vo-item-header"><span class="drag-handle"><%- dragHandle() %></span> VO 1.4</div>
        </div>
      </div>
    </div>
  </div>
  <div class="vo-group empty-group">
    <div class="vo-group-header">
      <span class="drag-handle"><%- dragHandle() %></span>
      <span>Group 2</span>
    </div>
    <div class="vo-group-body">
      <div class="vo-group-items"></div>
    </div>
  </div>
  <div class="vo-group empty-group">
    <div class="vo-group-header">
      <span class="drag-handle"><%- dragHandle() %></span>
      <span>Group 3</span>
    </div>
    <div class="vo-group-body">
      <div class="vo-group-items"></div>
    </div>
  </div>
  <div class="vo-group">
    <div class="vo-group-header">
      <span class="drag-handle"><%- dragHandle() %></span>
      <span>Group 4</span>
    </div>
    <div class="vo-group-body">
      <div class="vo-group-items">
        <div class="vo-item">
          <div class="vo-item-header"><span class="drag-handle"><%- dragHandle() %></span> VO 4.1</div>
        </div>
        <div class="vo-item">
          <div class="vo-item-header"><span class="drag-handle"><%- dragHandle() %></span> VO 4.2</div>
        </div>
        <div class="vo-item">
          <div class="vo-item-header"><span class="drag-handle"><%- dragHandle() %></span> VO 4.3</div>
        </div>
        <div class="vo-item">
          <div class="vo-item-header"><span class="drag-handle"><%- dragHandle() %></span> VO 4.4</div>
        </div>
      </div>
    </div>
  </div>
  <div class="vo-group  empty-group">
    <div class="vo-group-header">
      <span class="drag-handle"><%- dragHandle() %></span>
      <span>Group 5</span>
    </div>
    <div class="vo-group-body">
      <div class="vo-group-items"></div>
    </div>
  </div>
</div>