<section class="card">
  <h2>
    <strong><%= questId %>:</strong>&nbsp;<%= questTitle %>
    <a class="help-info fr fontWeight600" style="font-size:15px;cursor:pointer;">Help</a>
  </h2>
  <div class="content">
    <h4>Quest Description(s)</h4>
    <% questDescriptions.forEach((questDescription, idx) => { %>
      <div class="posRel">
        <textarea id="quest-desc-<%= idx %>" readony class="w100p autosize" style="resize:vertical;min-height:40px;padding-right:45px"><%= questDescription %></textarea>
        <button class="secondary small posAbs" copy-target="quest-desc-<%= idx %>"
          ui-tippy-hover="Click to copy to clipboard"
          ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
          style="right: 0; top: 0;">Copy</button>
      </div>
    <% }) %>
  </div>
  <div class="content">
    <div class="valign">
      <h4>Steps</h4>
      <div class="grow"></div>
      <button class="secondary small" copy-target="quest-steps"
        ui-tippy-hover="Click to copy to clipboard"
        ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
        style="margin:5px 0">Copy</button>
    </div>
    <textarea id="quest-steps" readony class="w100p" style="resize:vertical;min-height:200px;"><%= stepsWikitext %></textarea>
  </div>
  <div class="content">
    <div class="valign">
      <h4>Other Languages</h4>
      <div class="grow"></div>
      <button class="secondary small" copy-target="quest-name-ol"
        ui-tippy-hover="Click to copy to clipboard"
        ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
        style="margin:5px 0">Copy</button>
    </div>
    <textarea id="quest-name-ol" readony class="w100p" style="resize:vertical;min-height:200px;"><%= otherLanguagesWikitext %></textarea>
  </div>
  <% if (travelLogSummary.length) { %>
    <div class="content">
      <h4>Travel Log Summarization</h4>
      <% travelLogSummary.forEach((travelLogSummaryItem, idx) => { %>
        <div class="posRel">
          <textarea id="travel-log-summary-item-<%= idx %>" readony class="w100p autosize" style="resize:vertical;min-height:40px;padding-right:45px"><%= travelLogSummaryItem %></textarea>
          <button class="secondary small posAbs" copy-target="travel-log-summary-item-<%= idx %>"
            ui-tippy-hover="Click to copy to clipboard"
            ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
            style="right: 0; top: 0;">Copy</button>
        </div>
      <% }) %>
    </div>
  <% } %>
  <h2>Dialogue</h4>
  <div class="dialogue-container">
    <% dialogue.forEach(section => { %>
      <%- include('partials/quests/dialogue-section', section) %>
    <% }) %>
  </div>
</section>