<a href="/TCG/cards/<%= String(card.Id).padStart(6, '0') %>" class="tcg-card">
  <div class="tcg-card-image">
    <img src="/images/genshin/<%= card.WikiImage %>.png" loading="lazy" decoding="async" />
  </div>
  <div class="tcg-card-name"><%= card.WikiName %></div>
  <% if (card.Hp) { %>
    <div class="tcg-icon tcg-card-icon GCG_CHAR_HP"><%= card.Hp %></div>
  <% } %>
  <% if (card.CostList && Array.isArray(card.CostList)) { %>
    <% for (let costItem of card.CostList.filter(x => !!x.CostType)) { %>
      <div class="tcg-icon tcg-card-icon <%= costItem.CostType %>"><%= costItem.Count %></div>
    <% } %>
  <% } %>
</a>