<% for (let item of quests) { %>
  <a role="button" class="secondary dispBlock spacer5-bottom textAlignLeft" href="/quests/<%= item.quest.Id %>" data-id="<%= item.quest.Id %>">
    <strong>ID <%= item.quest.Id %>:&nbsp;</strong>
    <span><%= item.quest.TitleText %></span>
  </a>
  <% if (item.subquests && item.subquests.length) { %>
    <div class="spacer15-left">
      <%- use('partials/genshin/dialogue/chapter-list-item', { quests: item.subquests }) %>
    </div>
  <% } %>
<% } %>