<div class="dialogue-section" id="<%= id %>"<%- locals.similarityGroupId ? ` data-similarity-group="${locals.similarityGroupId}"` : ''  %>>
  <h4 class="dialogue-section-header valign">
    <span class="dialogue-section-expando" ui-action="expando: #dialogue-section-content-<%= id %>"><%- icon('chevron-down', 17) %></span>
    <span class="dialogue-section-title"><%= title %></span>
    <% if (locals.helptext) { %>
      <span ui-tippy-hover="<%= locals.helptext %>" ui-tippy-html="true" class="dispInlineFlex spacer5-left" style="height:14px;width:14px;opacity:0.8"><%- icon('info', 14) %></span>
    <% } %>
    <% if (locals.similarityGroupId) { %>
      <div class="grow"></div>
      <span class="secondary-label small spacer5-top">Similarity Group #<%= locals.similarityGroupId %></span>
    <% } %>
  </h4>
  <div id="dialogue-section-content-<%= id %>" class="dialogue-section-content">
    <div class="dialogue-section-toolbar valign">
      <% if (locals.metadata && Object.keys(locals.metadata).length) { %>
        <div class="valign meta-props">
          <% for (let metaProp of metadata) { %>
            <div class="prop">
              <span class="prop-label"><%= metaProp.label %></span>
              <% if (metaProp.values && metaProp.values.length) { %>
                <span class="prop-values">
                  <% for (let val of metaProp.values) { %>
                    <% if (val.link) { %>
                      <a class="prop-value" href="<%= val.link %>" <%- val.link.startsWith('#') ? '' : `target="_blank"` %>
                         ui-tippy-hover="<%= val.tooltip %>"><%= val.value %></a>
                    <% } else { %>
                      <span class="prop-value" ui-tippy-hover="<%= val.tooltip %>"><%= val.value %></span>
                    <% } %>
                  <% } %>
                </span>
              <% } %>
            </div>
          <% } %>
        </div>
      <% } %>
      <% if (locals.wikitext || (children && children.length)) { %>
        <div class="grow"></div>
        <% if (locals.wikitext) { %>
            <button class="secondary small" ui-action="copy: #wikitext-<%= id %>"
                  ui-tippy-hover="Click to copy to clipboard"
                  ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                  style="margin:0 0 5px">Copy</button>
        <% } %>
        <% if (children && children.length) { %>
          <button class="secondary small" ui-action="copy-all: #wikitext-<%= id %>, .wikitext-array-<%= id %>, .wikitext-childOf-<%= id %>; copy-sep: <%= copyAllSep.replace(/\n/g, '\\n') %>"
                  ui-tippy-hover="Click to copy to clipboard (including child sections)"
                  ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                  style="margin:0 0 5px 5px; white-space: nowrap;">Copy All</button>
        <% } %>
        <div class="valign">
          <button class="dialogue-indent-button secondary small plus" ui-tippy-hover="Increase indent"
                  ui-action="wikitext-indent: #wikitext-<%= id %>, increase"
                  style="margin:0 0 5px 5px"><%- icon('plus', 16) %></button>
          <button class="dialogue-indent-button secondary small minus" ui-tippy-hover="Decrease indent"
                  ui-action="wikitext-indent: #wikitext-<%= id %>, decrease"
                  style="margin:0 0 5px 0"><%- icon('minus', 16) %></button>
        </div>
      <% } %>
    </div>
    <% if (locals.htmlMessage) { %>
      <div class="dialogue-section-info-message"><%- htmlMessage %></div>
    <% } %>
    <% if (locals.wikitext) { %>
      <textarea readonly
                id="wikitext-<%= id %>"
                class="wikitext dialogue-section-wikitext w100p autosize <%= (locals.parentIds || []).map(s => 'wikitext-childOf-' + s).join(' ') %>"
                data-gutters="<%= locals.showGutter ? 'true' : 'false' %>"
                data-markers="<%= Marker.joinedString(locals.wikitextMarkers) %>"
                data-line-ids="<%= stringifyCommonLineIds(locals.wikitextLineIds) %>"
                style="resize:vertical;min-height:40px;"
                spellcheck="false"
                translate="no"><%= wikitext %></textarea>
    <% } %>
    <% if (locals.wikitextArray) { %>
      <% wikitextArray.forEach((item, idx) => { %>
        <div class="valign">
          <h4 class="spacer5-top"><%= item.title || `Array Item ${idx + 1}` %></h4>
          <div class="grow"></div>
          <button class="secondary small" ui-action="copy: #wikitext-<%= id %>-<%= idx %>"
                  ui-tippy-hover="Click to copy to clipboard"
                  ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                  style="margin:0 0 5px">Copy</button>
          <button class="dialogue-indent-button secondary small plus" ui-tippy-hover="Increase indent"
                  ui-action="wikitext-indent: #wikitext-<%= id %>-<%= idx %>, increase"
                  style="margin:0 0 5px 5px"><%- icon('plus', 16) %></button>
          <button class="dialogue-indent-button secondary small minus" ui-tippy-hover="Decrease indent"
                  ui-action="wikitext-indent: #wikitext-<%= id %>-<%= idx %>, decrease"
                  style="margin:0 0 5px 0"><%- icon('minus', 16) %></button>
        </div>
        <textarea readonly
                  id="wikitext-<%= id %>-<%= idx %>"
                  class="wikitext wikitext-array-<%= id %> dialogue-section-wikitext w100p autosize <%= (locals.parentIds || []).map(s => 'wikitext-childOf-' + s).join(' ') %>"
                  data-gutters="<%= locals.showGutter ? 'true' : 'false' %>"
                  data-markers="<%= Marker.joinedString(item.markers) %>"
                  style="resize:vertical;min-height:40px;"
                  spellcheck="false"
                  translate="no"><%= item.wikitext %></textarea>
      <% }) %>
    <% } %>
  </div>
  <div class="dialogue-section-children">
    <% children.forEach(section => { %>
      <%- use('partials/genshin/dialogue/dialogue-section', Object.assign(section, {parentIds: (locals.parentIds || []).concat(id) })) %>
    <% }) %>
  </div>
</div>