<section class="card">
  <h2>Quick Jump</h2>
    <% Object.values(resultMap).forEach(res => { %>
      <h3>NPC ID: <strong><%= res.npcId %></strong> "<span><%= res.npc.NameText %></span>"</h3>
      <div class="content">
        <% if (res.nonQuestDialogue.length) { %>
          <fieldset>
            <legend>Non-Quest Dialogue</legend>
            <div class="content alignStart flexWrap" style="padding-top:0;">
              <% res.nonQuestDialogue.forEach(section => { %>
                <div class="w25p">
                  <a role="button" class="spacer5-all secondary dispBlock textAlignLeft"
                     href="#<%= section.id %>"><%= snakeToTitleCase(section.id) %></a>
                </div>
              <% }) %>
            </div>
          </fieldset>
        <% } %>
        <% if (res.questDialogue.length) { %>
          <fieldset>
            <legend>Quest Dialogue</legend>
            <div class="content" style="padding-top:0;margin-top:-15px">
              <% for (let questSection of res.questDialogue) { %>
                <fieldset class="spacer15-top">
                  <legend>
                    <span><%= questSection.originalData.questId %>:</span>
                    <a href="/quests/<%= questSection.originalData.questId %>" target="_blank" style="text-decoration: none">
                      <span><%= questSection.originalData.questName || '(No title)' %></span>
                    </a>
                  </legend>
                  <div class="content alignStart flexWrap" style="padding-top:0;">
                    <% for (let section of questSection.children) { %>
                      <div class="w25p">
                        <a role="button" class="spacer5-all secondary dispBlock textAlignLeft"
                           href="#<%= section.id %>"><%= snakeToTitleCase(section.id) %></a>
                      </div>
                    <% } %>
                  </div>
                </fieldset>
              <% } %>
            </div>
          </fieldset>
        <% } %>
        <% if (!res.nonQuestDialogue.length && !res.questDialogue.length) { %>
          <p>No results</p>
        <% } %>
      </div>
    <% }) %>
  <% if (reminders.length) { %>
    <h3>Non-Identifier Specific</h3>
    <div class="content">
      <fieldset>
        <legend>Reminders</legend>
        <div class="content alignStart flexWrap" style="padding-top:0;">
          <% reminders.forEach(reminder => { %>
            <div class="w25p">
              <a role="button" class="spacer5-all secondary dispBlock textAlignLeft"
                 href="#<%= reminder.id %>"><%= snakeToTitleCase(reminder.id) %></a>
            </div>
          <% }) %>
        </div>
      </fieldset>
    </div>
  <% } %>
</section>
<div class="result-wrapper">
  <% Object.values(resultMap).forEach(res => { %>
    <section class="card">
      <h2>NPC ID: <strong><%= res.npcId %></strong> "<span><%= res.npc.NameText %></span>"</h2>
      <% if (res.nonQuestDialogue.length) { %>
        <h3 class="valign">
          <span class="expando" ui-action="expando: #non-quest-dialogue-<%= res.npcId %>"><%- icon('chevron-down', 17) %></span>
          <span>Non-Quest Dialogue</span>
        </h3>
        <div id="non-quest-dialogue-<%= res.npcId %>">
          <% res.nonQuestDialogue.forEach(section => { %>
            <div class="content">
              <%- use('partials/genshin/dialogue/dialogue-section', section) %>
            </div>
          <% }) %>
        </div>
      <% } %>
      <% if (res.questDialogue.length) { %>
        <h3 class="valign">
          <span class="expando" ui-action="expando: #quest-dialogue-<%= res.npcId %>"><%- icon('chevron-down', 17) %></span>
          <span>Quest Dialogue</span>
        </h3>
        <div id="quest-dialogue-<%= res.npcId %>">
          <% for (let section of res.questDialogue) { %>
            <div class="content">
              <%- use('partials/genshin/dialogue/dialogue-section', section) %>
            </div>
          <% } %>
        </div>
      <% } %>
      <% if (!res.nonQuestDialogue.length && !res.questDialogue.length) { %>
        <div class="content">
          <p>No results</p>
        </div>
      <% } %>
    </section>
  <% }) %>
  <% if (reminders.length) { %>
    <section class="card">
      <h2>Non-Identifier Specific</h2>
      <% if (reminders.length) { %>
        <h3 class="valign">
          <span class="expando" ui-action="expando: #reminders"><%- icon('chevron-down', 17) %></span>
          <span>Reminders</span>
        </h3>
        <div id="reminders">
          <% for (let reminder of reminders) { %>
            <div class="content">
              <%- use('partials/genshin/dialogue/dialogue-section', reminder) %>
            </div>
          <% } %>
        </div>
      <% } %>
    </section>
  <% } %>
  <% if (!Object.keys(resultMap).length) { %>
    <section class="card">
      <div class="content">
        <strong>NPC not found.</strong>
      </div>
    </section>
  <% } %>
</div>