<%- use('partials/genshin/dialogue/quest-stills-helper', { questsStillsByMainQuest, questsStillsMainQuestNames }) %>
<%- use('partials/genshin/dialogue/in-dialogue-readables-helper', { inDialogueReadables, inDialogueReadablesMainQuestNames }) %>
<% sections.forEach(section => { %>
  <section class="card">
    <h2>Match ID: <strong><%= section.id %></strong></h2>
    <div class="content">
      <%- use('partials/genshin/dialogue/dialogue-section', section) %>
    </div>
  </section>
<% }) %>
<% if (!sections.length) { %>
  <section class="card">
    <div class="content">
      <strong>Dialogue not found.</strong>
      <p class="spacer5-bottom">Suggestions:</p>
      <ul>
        <li>Make sure you typed it correctly.</li>
        <li>If it's an autoplaying overworld line, it may be in <a href="/genshin/reminders?q=<%= query %>" target="_blank">ReminderExcelConfigData</a></li>
        <li>Try <a href="/genshin/textmap?q=<%= query %>" target="_blank">TextMap Search</a> as well.</li>
        <li>Is your input language correct?
          <% if (langSuggest && !langSuggest.matchesInputLangCode) { %>
            <p class="error-notice spacer10-top">
              Your input language is <strong style="font-size:1.2em"><%= req.context.languages[req.context.inputLangCode] %></strong>
              but the query you entered was detected to be <strong style="font-size:1.2em"><%= langSuggest.detected.langName %></strong>
            </p>
          <% } %>
        </li>
      </ul>
    </div>
  </section>
<% } %>
