<div class="card result-count-card">
  <h2 class="valign">
    <span><%= results.length + talkResultsCount %> results</span>
    <span class="grow"></span>
    <button class="secondary small" ui-action="copy-all: .wikitext; copy-sep: \n"
            ui-tippy-hover="Click to copy all to clipboard"
            ui-tippy-flash="{content:'Copied!', delay: [0,2000]}">Copy All</button>
  </h2>
</div>

<% for (let result of results) { %>
  <%- use('partials/genshin/dialogue/vo-to-dialogue-single-result', { result }) %>
<% } %>

<% for (let talkResult of talkResults) { %>
  <div class="card" style="margin-bottom:10px">
    <h2 class="valign">
      <span class="expando" ui-action="expando: #talkresult-<%= talkResult.talkId %>"><%- icon('chevron-down', 17) %></span>
      <span>Talk:</span>&nbsp;<strong><%= talkResult.talkId %></strong>
      <span class="grow"></span>
      <a role="button" class="secondary spacer3-left" target="_blank"
         href="/genshin/branch-dialogue?q=<%= talkResult.talkId %>"
         ui-tippy-hover="Open talk in branch dialogue"
         style="margin:-5px 0;font-size:14px"><%- icon('external-link', 17) %></a>
    </h2>
    <div class="content" id="talkresult-<%= talkResult.talkId %>">
      <% for (let result of talkResult.results) { %>
        <%- use('partials/genshin/dialogue/vo-to-dialogue-single-result', { result, cardBordered: true }) %>
      <% } %>
    </div>
  </div>
<% } %>

<% if (!results.length && !talkResults.length) { %>
  <section class="card">
    <div class="content">
      <strong>No input entered.</strong>
    </div>
  </section>
<% } %>
