<% if (result && result.id) { %>
  <section class="card<%= locals.cardBordered ? ' bordered' : '' %>" style="margin-bottom:10px">
    <h2 class="valign" style="padding:4px 10px;font-size:14px">
      <% if (result.text || result.warn) { %>
        <span class="expando" ui-action="expando: #result-<%= result.id %>"><%- icon('chevron-down', 17) %></span>
      <% } %>
      <span style="font-size:15px"><%= result.type %>:</span>&nbsp;<strong style="font-size:14px"><%= result.id %></strong>
      <span class="secondary-label small spacer10-left" style="opacity:0.8"><%= result.voFile %></span>
      <span class="grow"></span>
      <% if (result.text) { %>
        <button class="secondary small" ui-action="copy: #wikitext-<%= result.id %>"
                ui-tippy-hover="Click to copy to clipboard"
                ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                style="margin:-5px 0">Copy</button>
      <% } %>
      <% if (result.type === 'Dialog') { %>
        <a role="button" class="secondary small spacer3-left" target="_blank"
           href="/genshin/branch-dialogue?q=<%= result.id %>"
           ui-tippy-hover="Open in branch dialogue"
           style="margin:-5px 0"><%- icon('external-link', 17) %></a>
      <% } %>
    </h2>
    <% if (result.text || result.warn) { %>
      <div id="result-<%= result.id %>">
        <% if (result.warn) { %>
          <div class="content" style="padding:5px">
            <p class="warning-notice"><%= result.warn %></p>
          </div>
        <% } %>
        <% if (result.text) { %>
          <div class="dialogue-section content" style="padding:5px;margin-bottom:0;">
            <textarea id="wikitext-<%= result.id %>" readonly class="w100p wikitext autosize" spellcheck="false" translate="no"><%= result.text %></textarea>
          </div>
        <% } %>
      </div>
    <% } %>
  </section>
<% } else { %>
  <section class="card<%= locals.cardBordered ? ' bordered' : '' %>" style="margin-bottom:10px">
    <div class="content">
      <p>No results for: <code class="fontWeight600"><%= result.file %></code></p>
    </div>
  </section>
<% } %>
