<div class="card result-count-card">
  <h2>Total Results: <span><%= Object.keys(result).length %></span></h2>
</div>
<div class="dialogue-container">
  <% Object.keys(result).forEach((textMapId, i) => { %>
    <section class="card">
      <h2>TextMapHash: <a href="/id-usages?q=<%= textMapId %>" style="font-weight:700;text-decoration:none;"><%= textMapId %></a> <small class="fr fontWeight300">#<%= i+1 %></small></h2>
      <div class="dialogue-section content">
        <textarea readonly class="w100p wikitext autosize" spellcheck="false"><%= result[textMapId] %></textarea>
      </div>
    </section>
  <% }) %>
  <% if (!Object.keys(result).length) { %>
    <section class="card">
      <div class="content">
        <strong>No matches found.</strong>
      </div>
    </section>
  <% } %>
</div>