<section id="app-sidebar__header" class="card">
  <h2 class="valign" style="padding:6px 10px">
    <img src="/images/site/logo/March_7th_Sticker_1.webp" style="width:28px;height:auto" />
    <span class="spacer10-left">Honkai Star Rail</span>
  </h2>
</section>
<div id="app-sidebar__content"<%- locals.appSidebarOverlayScroll ? ' data-overlayscrollbars-initialize' : '' %>>
  <section id="app-sidebar__basic" class="card">
    <h2>Basic Tools</h2>
    <div class="content">
      <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--textmap', 'selected') %>" role="button" href="/hsr/textmap">TextMap Search</a>
      <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--OL', 'selected') %>" role="button" href="/hsr/OL">Other Languages Generator</a>
      <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--id-usages', 'selected') %>" role="button" href="/hsr/id-usages">Identifier Usages</a>
      <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--excel-viewer', 'selected') %>" role="button" href="/hsr/excel-viewer">Excel Viewer</a>
    </div>
  </section>
  <section id="app-sidebar__misc" class="card">
    <h2>Misc Tools</h2>
    <div class="content">
      <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--loading-tips', 'selected') %>" role="button" href="/hsr/loading-tips">Loading Tips</a>
      <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--vo-tool', 'selected') %>" role="button" href="/hsr/character/VO">VO Tool</a>
    </div>
  </section>
</div>
