<div class="dialogue-section" id="<%= id %>">
  <h4 class="dialogue-section-header valign">
    <span class="dialogue-section-expando" ui-action="expando: #dialogue-section-content-<%= id %>"><%- icon('chevron-down', 17) %></span>
    <span class="dialogue-section-title"><%= title %></span>
    <% if (locals.helptext) { %>
      <span ui-tippy-hover="<%= locals.helptext %>" class="dispInlineBlock spacer5-left" style="height:18px;width:18px;"><%- icon('info', 18) %></span>
    <% } %>
    <% if (locals.wikitext && (!locals.metadata || !Object.keys(locals.metadata).length)) { %>
      <div class="grow"></div>
      <button class="secondary small" ui-action="copy: #wikitext-<%= id %>"
        ui-tippy-hover="Click to copy to clipboard"
        ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
        style="margin:5px 0 0">Copy</button>
        <% if (children && children.length) { %>
          <button class="secondary small" ui-action="copy-all: #wikitext-<%= id %>, .wikitext-array-<%= id %>, .wikitext-childOf-<%= id %>; copy-sep: \n"
                ui-tippy-hover="Click to copy to clipboard (including child sections)"
                ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                style="margin:5px 0 0 5px; white-space: nowrap;">Copy All</button>
        <% } %>
    <% } %>
  </h4>
  <div id="dialogue-section-content-<%= id %>" class="dialogue-section-content">
    <% if (locals.metadata && Object.keys(locals.metadata).length) { %>
      <div class="valign">
        <div class="valign metadata-props">
          <% for (let metaProp of metadata) { %>
            <div class="prop">
              <span class="prop-label"><%= metaProp.label %></span>
              <span class="prop-values">
                <% for (let val of metaProp.values) { %>
                  <% if (val.link) { %>
                    <a class="prop-value" href="<%= val.link %>" target="_blank"><%= val.value %></a>
                  <% } else { %>
                    <span class="prop-value"><%= val.value %></span>
                  <% } %>
                <% } %>
              </span>
            </div>
          <% } %>
        </div>
        <% if (locals.wikitext) { %>
          <div class="grow"></div>
          <button class="secondary small" ui-action="copy: #wikitext-<%= id %>"
                  ui-tippy-hover="Click to copy to clipboard"
                  ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                  style="margin:0 0 5px">Copy</button>
          <% if (children && children.length) { %>
            <button class="secondary small" ui-action="copy-all: #wikitext-<%= id %>, .wikitext-childOf-<%= id %>; copy-sep: \n"
                    ui-tippy-hover="Click to copy to clipboard (including child sections)"
                    ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                    style="margin:0 0 5px 5px; white-space: nowrap;">Copy All</button>
          <% } %>
        <% } %>
      </div>
    <% } %>
    <% if (locals.htmlMessage) { %>
      <div class="dialogue-section-info-message"><%- htmlMessage %></div>
    <% } %>
    <% if (locals.wikitext) { %>
      <textarea readonly id="wikitext-<%= id %>" class="wikitext dialogue-section-wikitext w100p autosize <%= (locals.parentIds || []).map(s => 'wikitext-childOf-' + s).join(' ') %>"
                style="resize:vertical;min-height:40px;" spellcheck="false"><%= wikitext %></textarea>
    <% } %>
    <% if (locals.wikitextArray) { %>
      <% wikitextArray.forEach((item, idx) => { %>
        <% if (item.title) { %>
          <div class="valign">
            <strong class="spacer5-top"><%= item.title %></strong>
            <div class="grow"></div>
            <button class="secondary small" ui-action="copy: #wikitext-<%= id %>-<%= idx %>"
                    ui-tippy-hover="Click to copy to clipboard"
                    ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                    style="margin:0 0 5px">Copy</button>
          </div>
        <% } %>
        <textarea readonly id="wikitext-<%= id %>-<%= idx %>" class="wikitext wikitext-array-<%= id %> dialogue-section-wikitext w100p autosize"
                  style="resize:vertical;min-height:40px;" spellcheck="false"><%= item.wikitext %></textarea>
      <% }) %>
    <% } %>
    <div class="dialogue-section-children">
      <% children.forEach(section => { %>
        <%- include('partials/dialogue/dialogue-section', Object.assign(section, {parentIds: (locals.parentIds || []).concat(id) })) %>
      <% }) %>
    </div>
  </div>
</div>