<% if (!req.params.category) { %>
  <section class="card">
    <h2>Achievements</h2>
    <div class="tab-list" role="tablist">
      <a href="/genshin/achievements" role="tab" id="tab-categories" class="tab <%= bodyClassTernary('page--achievements-categories', 'active') %>">Categories</a>
      <a href="/genshin/achievements/search" role="tab" id="tab-search" class="tab <%= bodyClassTernary('page--achievements-search', 'active') %>">Search</a>
    </div>
    <div class="content">
      <fieldset>
        <legend>Categories</legend>
        <div class="content alignStretch flexWrap" style="padding-top:0;">
          <% for (let goal of goals) { %>
            <div class="w50p">
              <a role="button" class="spacer5-all secondary valign textAlignLeft"
                 href="/genshin/achievements/<%= toParam(goal.NameTextEN) %>">
                <img class="icon x32" src="/images/genshin/<%= goal.IconPath %>.png" loading="lazy" decoding="async" />
                <span class="spacer10-left"><%= goal.NameText %></span>
              </a>
            </div>
          <% } %>
        </div>
      </fieldset>
    </div>
  </section>
<% } %>
<% if (achievements) { %>
  <% for (let section of Object.values(achievements)) { %>
    <section class="card" id="<%= toParam(section?.Goal?.NameText) || 'no_id' %>">
      <h2 class="valign">
        <img class="framed-icon x42" src="/images/genshin/<%= section?.Goal?.IconPath %>.png" loading="lazy" decoding="async" />
        <span class="spacer15-left"><%= section?.Goal?.NameText || 'n/a' %></span>
        <span class="grow"></span>
        <a href="/genshin/achievements" role="button" class="secondary small">Back to categories</a>
      </h2>
      <div class="content">
        <div class="card result-count-card">
          <h2>Total: <span><%= section.Achievements.length %></span></h2>
        </div>
        <p class="info-notice">
          The <strong>Trigger</strong> column shows the trigger type and parameters. For certain types, e.g. finishing quests,
          I resolved the parameters for you (e.g. showing the quest name). But there's a lot of different trigger types, which'd
          require code for each one to resolve its parameters, which is too much effort.
          You can use the <a href="/genshin/excel-usages">Excel Usages</a> tool to lookup where certain IDs are used.</p>
      </div>
      <% if (section?.Goal?.FinishReward && section?.Goal?.FinishReward?.RewardSummary) { %>
        <div class="content">
          <h3>Category Reward</h3>
          <textarea readonly class="w100p wikitext autosize" spellcheck="false" translate="no"><%= section.Goal.FinishReward.RewardSummary.CombinedCards %></textarea>
        </div>
      <% } %>
      <div class="content">
        <%- use('partials/genshin/archive/achievements-table', { achievements: section.Achievements, showCategory: false }) %>
      </div>
    </section>
  <% } %>
<% } %>
<% if (req.params.category && !achievements) { %>
  <section class="card">
    <h2>Achievements</h2>
    <div class="tab-list" role="tablist">
      <a href="/genshin/achievements" role="tab" id="tab-categories" class="tab <%= bodyClassTernary('page--achievements-categories', 'active') %>">Categories</a>
      <a href="/genshin/achievements/search" role="tab" id="tab-search" class="tab <%= bodyClassTernary('page--achievements-search', 'active') %>">Search</a>
    </div>
    <div class="content">
      <p>Category not found: <%= req.params.category %></p>
    </div>
  </section>
<% } %>
