<% if (monster) { %>
<section class="card">
  <h2><%= title %></h2>
  <div class="content alignStart">
    <img class="framed-icon x128" src="/images/genshin/<%= monster.Describe?.Icon %>.png" />
    <div class="spacer10-left">
      <strong class="dispBlock fontWeight600" style="margin-left:8px">Archive Description</strong>
      <% if (monster.AnimalCodex) { %>
        <%- use('partials/util/wikitext', { wikitext: normGenshinText(monster.AnimalCodex.DescText), seamless: true }) %>
      <% } else { %>
        <p>None</p>
      <% } %>
    </div>
  </div>
  <div class="content">
    <% if (Array.isArray(monster?.AnimalCodex?.AltDescTextList)) { %>
      <% monster.AnimalCodex.AltDescTextList.forEach((descText, idx) => { %>
        <fieldset class="spacer10-bottom">
          <legend>Alternate Description</legend>
          <div class="content">
            <% if (monster.AnimalCodex.AltDescTextQuestConds[idx]) { %>
              <span class="secondary-label spacer5-bottom" style="font-size:14px">
                <strong>Unlocked by:</strong>&nbsp;
                <a href="/quests/<%= monster.AnimalCodex.AltDescTextQuestConds[idx].MainQuestId %>">
                  <%= monster.AnimalCodex.AltDescTextQuestConds[idx].NameText %>
                </a>
              </span>
            <% } %>
            <%- use('partials/util/wikitext', { wikitext: normGenshinText(descText), seamless: true }) %>
          </div>
        </fieldset>
      <% }) %>
    <% } %>
    <fieldset style="font-size:16px">
      <legend>Info</legend>
      <div class="content">
        <span class="secondary-label"><strong>ID:</strong>&nbsp;<code style="font-size:14px"><%= monster.Id %></code></span>
        <% if (monster.AnimalCodex) { %>
          <span class="secondary-label"><strong>Type:</strong>&nbsp;<%= monster.AnimalCodex.TypeName %></span>
          <span class="secondary-label"><strong>Sub-type:</strong>&nbsp;<%= monster.AnimalCodex.SubTypeName %></span>
        <% } %>
        <span class="secondary-label"><strong>Is Elite:</strong>&nbsp;<%- monster.SecurityLevel === 'ELITE' ? '<strong style="color:green">Yes</strong>' : 'No' %></span>
        <span class="secondary-label"><strong>Is Boss:</strong>&nbsp;<%- monster.SecurityLevel === 'BOSS' ? '<strong style="color:green">Yes</strong>' : 'No' %></span>
      </div>
      <% if (monster?.MonsterDescribe?.Title?.TitleNameText) { %>
        <div class="content">
          <span class="secondary-label"><strong>Title:</strong>&nbsp<%= monster.MonsterDescribe.Title.TitleNameText %></span>
        </div>
      <% } %>
    </fieldset>
    <% if (monster?.HomeWorldAnimal) { %>
      <fieldset class="spacer10-top">
        <legend>Related Furniture</legend>
        <div class="content">
          <%- use('partials/genshin/archive/item', {material: monster.HomeWorldAnimal.Furniture, noCount: true}) %>
        </div>
      </fieldset>
    <% } %>
    <% if (monster?.MonsterDescribe?.SpecialNameLabList) { %>
      <fieldset class="spacer10-top">
        <legend>Special Name(s)</legend>
        <div class="content alignStretch flexWrap" style="padding-top:0;font-size:15px">
          <% for (let specialName of monster.MonsterDescribe?.SpecialNameLabList) { %>
            <div class="w33p">
              <span class="spacer5-all secondary-label dispBlock textAlignLeft clearfix">
                <span><%= specialName.SpecialNameText %></span>
                <% if (specialName.IsInRandomList) { %>
                  <span class="secondary-label small spacer10-left fr">Random</span>
                <% } %>
              </span>
            </div>
          <% } %>
        </div>
      </fieldset>
    <% } %>
    <% if (monster?.AnimalCodex?.ModelArtPath) { %>
      <fieldset class="spacer10-top">
        <legend>Model Art</legend>
        <div class="content alignStretch flexWrap" style="padding-top:0;font-size:15px">
          <img src="/images/genshin/<%= monster.AnimalCodex.ModelArtPath %>.png" style="max-width: 500px" />
        </div>
      </fieldset>
    <% } %>
  </div>
</section>

<section class="card">
  <h2 class="valign">
    <span>Raw JSON</span>
    <span class="grow"></span>
    <button class="secondary" ui-action="toggle: #json-outer">
      <span class="inactive-only">Show</span>
      <span class="active-only">Hide</span>
    </button>
  </h2>
  <div id="json-outer" class="content hide">
      <textarea class="code json w100p autosize" spellcheck="false"
                translate="no"><%= safeStringify(monster, null, 2) %></textarea>
  </div>
</section>
<% } else { %>
<section class="card">
  <h2><%= title %></h2>
</section>
<% } %>
