<section class="card">
  <h2>Loading Tips</h2>
  <div class="content">
    <fieldset>
      <legend>Category Jump</legend>
      <div class="content alignStretch flexWrap" style="padding-top:0;">
        <% for (let cat of Object.keys(wikitextByCategory)) { %>
          <div class="w60p">
            <a role="button" class="spacer5-all secondary dispBlock textAlignLeft"
               href="#<%= toParam(cat) %>"><%= cat %></a>
          </div>
        <% } %>
      </div>
    </fieldset>
  </div>
</section>

<% Object.keys(wikitextByCategory).forEach(cat => { %>
  <section class="card" id="<%= toParam(cat) %>">
    <h2><%= cat %></h2>
    <div class="content">
      <div class="dialogue-container">
        <textarea readonly class="w100p wikitext autosize" spellcheck="false" translate="no"><%= wikitextByCategory[cat] %></textarea>
      </div>
    </div>
  </section>
<% }) %>