<section class="card">
  <h2>Loading Tips</h2>
  <div class="tab-list" role="tablist">
    <% for (let catName of catNames) { %>
      <a href="/loading-tips/<%= catName %><%= tableFormat ? '?table=1' : '' %>" role="tab" class="tab<%= catName === locals.selectedCat ? ' active' : '' %>"><%= catName %></a>
    <% } %>
  </div>
</section>

<% if (locals.selectedCat && locals.wikitext) { %>
  <section class="card">
    <h2><%= selectedCat %></h2>
    <div class="content">
      <div class="dialogue-container">
        <textarea readonly class="w100p wikitext autosize" spellcheck="false" translate="no"><%= wikitext %></textarea>
      </div>
    </div>
  </section>
<% } else if (!locals.wikitext && locals.selectedCat) { %>
  <section class="card">
    <div class="content">
      <p>Category not found: <strong><%= selectedCat %></strong></p>
    </div>
  </section>
<% } else { %>
  <section class="card">
    <div class="content">
      <p>Choose a category.</p>
    </div>
  </section>
<% } %>