<section class="card">
  <h2>Book Collections</h2>
  <div class="content dispFlex flexWrap alignStart">
    <% for (let collection of Object.values(archive.BookCollections)) { %>
      <div class="w50p">
        <a class="secondary spacer3-all valign textAlignLeft" role="button" href="/readables/book-collection/<%= collection.Id %>">
          <img class="icon x32" src="/images/genshin/<%= collection.Books[0]?.Material?.Icon %>.png" loading="lazy" decoding="async" />
          <span class="spacer10-left"><%= collection.SuitNameText %></span>
        </a>
      </div>
    <% } %>
  </div>
</section>
<section class="card">
  <h2>Quest Items</h2>
  <div class="content dispFlex flexWrap alignStart">
    <% for (let readableView of archive.Materials.filter(v => v?.Material?.MaterialType === 'MATERIAL_QUEST')) { %>
      <div class="w50p">
        <%- use('partials/genshin/archive/readable-link', { readableView }) %>
      </div>
    <% } %>
  </div>
</section>
<section class="card">
  <h2>Glider Descriptions</h2>
  <div class="content dispFlex flexWrap alignStart">
    <% for (let readableView of archive.Materials.filter(v => v?.Material?.MaterialType === 'MATERIAL_FLYCLOAK')) { %>
      <div class="w50p">
        <%- use('partials/genshin/archive/readable-link', { readableView }) %>
      </div>
    <% } %>
  </div>
</section>
<section class="card">
  <h2>Costume Descriptions</h2>
  <div class="content dispFlex flexWrap alignStart">
    <% for (let readableView of archive.Materials.filter(v => v?.Material?.MaterialType === 'MATERIAL_COSTUME')) { %>
      <div class="w50p">
        <%- use('partials/genshin/archive/readable-link', { readableView }) %>
      </div>
    <% } %>
  </div>
</section>
<section class="card">
  <h2>Weapons</h2>
  <div class="content dispFlex flexWrap alignStart">
    <% for (let readableView of archive.Weapons) { %>
      <div class="w50p">
        <%- use('partials/genshin/archive/readable-link', { readableView }) %>
      </div>
    <% } %>
  </div>
</section>
<section class="card">
  <h2>Artifacts</h2>
  <div class="content dispFlex flexWrap alignStart">
    <% for (let readableView of archive.Artifacts) { %>
      <div class="w50p">
        <%- use('partials/genshin/archive/readable-link', { readableView }) %>
      </div>
    <% } %>
  </div>
</section>