<section class="card">
  <h2>Tutorials</h2>
  <div class="tab-list" role="tablist">
    <a href="/genshin/tutorials" role="tab" id="tab-categories" class="tab <%= bodyClassTernary('page--tutorials-categories', 'active') %>">Categories</a>
    <a href="/genshin/tutorials/search" role="tab" id="tab-search" class="tab <%= bodyClassTernary('page--tutorials-search', 'active') %>">Search</a>
  </div>
  <div class="content">
    <fieldset>
      <legend>Categories</legend>
      <div class="content alignStart flexWrap" style="padding-top:0;">
        <% for (let name of categoryNames) { %>
          <div class="w100p">
            <a role="button" class="spacer5-all secondary dispBlock textAlignLeft"
               href="/genshin/tutorials/<%= toParam(name) %>"><%= name %></a>
          </div>
        <% } %>
      </div>
    </fieldset>
  </div>
</section>
<% if (tutorialsByType) { %>
  <%- use('partials/genshin/archive/tutorial-list', {tutorialsByType, fileFormatParams, fileFormatDefault_image}) %>
<% } %>
<% if (req.params.category && !tutorialsByType) { %>
  <section class="card">
    <div class="content">
      <p>Category not found: <%= req.params.category %></p>
    </div>
  </section>
<% } %>
