<section class="card">
  <h2>Tutorials</h2>
  <div class="content">
    <fieldset>
      <legend>Categories</legend>
      <div class="content alignStart flexWrap" style="padding-top:0;">
        <% for (let name of categoryNames) { %>
          <div class="w100p">
            <a role="button" class="spacer5-all secondary dispBlock textAlignLeft"
               href="/tutorials/<%= toParam(name) %>"><%= name %></a>
          </div>
        <% } %>
      </div>
    </fieldset>
  </div>
</section>
<% if (tutorialsList) { %>
  <% for (let [type, tutorials] of Object.entries(tutorialsList)) { %>
    <section class="card">
      <h2>File Format parameter options</h2>
      <div class="content">
        <p>Reload page after changing options to see effect.</p>
        <div class="alignStart spacer15-top flexWrap">
          <%- include('partials/util/file-format-options', {paramName: 'image', cookieName: 'FileFormat.tutorial.image', fileFormatParams: locals.fileFormatParams, fileFormatDefault: locals.fileFormatDefault_image}) %>
        </div>
      </div>
    </section>
    <section class="card" id="<%= toParam(type) %>">
      <h2><%= type %></h2>
      <div class="content">
        <div class="card result-count-card">
          <h2>Total: <span><%= tutorials.length %></span></h2>
        </div>
        <% for (let tutorial of tutorials) { %>
          <div class="tutorial">
            <textarea readonly class="w100p wikitext autosize" spellcheck="false" translate="no"><%= tutorial.Wikitext %></textarea>
            <div class="tutorial-images spacer15-bottom">
              <% for (let image of tutorial.Images) { %>
                <a role="button" class="image-loader" ui-action="lazy-image-click" data-src="/images/genshin/<%= image.originalName %>.png" data-download="<%= image.downloadName %>"></a>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    </section>
  <% } %>
<% } %>
<% if (req.params.category && !tutorialsList) { %>
  <section class="card">
    <div class="content">
      <p>Category not found: <%= req.params.category %></p>
    </div>
  </section>
<% } %>