<section class="card">
  <h2>Viewpoints</h2>
  <div class="content">
    <fieldset>
      <legend>Sections</legend>
      <div class="content alignStart flexWrap" style="padding-top:0;">
        <% for (let city of cities) { %>
          <div class="w100p"><a role="button" class="spacer5-all secondary dispBlock textAlignLeft"
                               href="/genshin/viewpoints/<%= toParam(city.CityNameTextEN) %>"><%= city.CityNameText %></a></div>
        <% } %>
      </div>
    </fieldset>
  </div>
</section>
<% if (viewpointsList) { %>
  <section class="card">
    <h2>File Format parameter options</h2>
    <div class="content">
      <p>Reload page after changing options to see effect.</p>
      <div class="alignStart spacer15-top flexWrap">
        <%- use('partials/util/file-format-options', {paramName: 'image', cookieName: 'FileFormat.viewpoint.image', fileFormatParams: locals.fileFormatParams, fileFormatDefault: locals.fileFormatDefault_image}) %>
        <%- use('partials/util/file-format-options', {paramName: 'map', cookieName: 'FileFormat.viewpoint.map', fileFormatParams: locals.fileFormatParams, fileFormatDefault: locals.fileFormatDefault_map}) %>
      </div>
    </div>
  </section>
  <% for (let [regionName, viewpoints] of Object.entries(viewpointsList)) { %>
    <section class="card" id="<%= toParam(regionName) %>">
      <h2><%= regionName %></h2>
      <div class="content">
        <div class="card result-count-card">
          <h2>Total: <span><%= viewpoints.length %></span></h2>
        </div>
        <p class="error-notice spacer10-bottom">The <code>area</code> and <code>subarea</code> parameter values aren't always accurate
          but the tool tries to figure it out the best it can. Make sure to check it manually in-game.</p>
      </div>
      <% for (let viewpoint of viewpoints) { %>
      <hr />
      <h3 class="secondary-header">Viewpoint <%= viewpoint.Id %></h3>
      <div class="viewpoint content" id="viewpoint-<%= viewpoint.Id %>">
        <textarea readonly class="w100p wikitext autosize" spellcheck="false" translate="no"><%= viewpoint.Wikitext %></textarea>
        <div class="viewpoint-image spacer15-bottom">
          <a role="button" class="image-loader" ui-action="lazy-image-click"
             data-src="/serve-image/genshin/<%= viewpoint.Image %>.png/<%= viewpoint.DownloadImage %>"
             data-name="<%= viewpoint.DownloadImage %>"></a>
        </div>
      </div>
      <% } %>
    </section>
  <% } %>
<% } %>
<% if (req.params.city && !viewpointsList) { %>
  <section class="card">
    <div class="content">
      <p>Region not found: <%= req.params.city %></p>
    </div>
  </section>
<% } %>
