<section class="card">
  <h2>OL Generate</h2>
  <div class="content">
    <p class="spacer5-bottom">Generate <%- TemplateLink('Other Languages') %> template with official names filled out.</p>
    <div class="field valign">
      <div class="valign grow" style="max-width:500px">
        <input class="ol-input grow" type="text" placeholder="Enter a name (case insensitive) or textmap ID" />
        <button class="ol-submit primary primary--2 spacer5-left">Generate</button>
      </div>
      <div class="ol-submit-pending hide loading small spacer5-left"></div>
    </div>
    <div class="talign spacer15-top spacer10-bottom flexWrap">
      <fieldset>
        <legend><code>_tl</code> options</legend>
        <div class="field spacer5-horiz" style="padding-right:30px">
          <label class="ui-radio dispBlock" style="padding-left:5px;font-size:13px;">
            <input type="radio" name="tl_options" value="none" <%= cookieTernary('OL.tl_options', {equalsOrEmpty: 'none', then: 'checked'}) %> />
            <span>Include <code>[lang]_tl</code> params*</span>
          </label>
          <label class="ui-radio dispBlock" style="padding-left:5px;font-size:13px;">
            <input type="radio" name="tl_options" value="exclude_tl" <%= cookieTernary('OL.tl_options', {equals: 'exclude_tl', then: 'checked'}) %> />
            <span>Exclude <code>[lang]_tl</code> params</span>
          </label>
        </div>
      </fieldset>
      <fieldset class="spacer5-left">
        <legend><code>_rm</code> options</legend>
        <div class="field spacer5-horiz" style="padding-right:30px">
          <label class="ui-radio dispBlock" style="padding-left:5px;font-size:13px;">
            <input type="radio" name="rm_options" value="none" <%= cookieTernary('OL.rm_options', {equalsOrEmpty: 'none', then: 'checked'}) %> />
            <span>Include <code>[lang]_rm</code> params</span>
          </label>
          <label class="ui-radio dispBlock" style="padding-left:5px;font-size:13px;">
            <input type="radio" name="rm_options" value="exclude_rm" <%= cookieTernary('OL.rm_options', {equals: 'exclude_rm', then: 'checked'}) %> />
            <span>Exclude <code>[lang]_rm</code> params</span>
          </label>
        </div>
      </fieldset>
    </div>
    <hr class="spacer5">
    <p style="padding:5px;font-size:0.85em">This utility will only work if there is an exact entire-value match for the name you're looking for in the TextMap. If the only reference to the name you're looking for is in a larger line of text, then it won't be found.</p>
    <p style="padding:0 5px 5px;margin:0;font-size:0.85em">e.g. it'd only match against <code style="font-size:0.85em">"Iris"</code> and not <code style="font-size:0.85em">"Cyrus' Letter to Iris"</code> if searching for <code>Iris</code></p>
    <p style="padding:0 5px;margin:0;font-size:0.85em">* <code style="font-size:0.8em">[lang]_tl</code> params are automatically excluded if the language text is the same as EN text.</p>
  </div>
</section>
<div id="ol-results-list"></div>