<section class="card" id="<%= section_id %>">
  <h2><b>Action Cards</b> / <%- section_name %></h2>
  <table class="article-table">
    <thead>
    <tr style="font-size: 14px;text-align: left;line-height: 16px;">
      <th>Icon</th>
      <th>ID</th>
      <th>Name</th>
      <th>Tag</th>
      <th>Cost</th>
      <th style="font-size:11px"><span style="white-space: nowrap">Obtainable /</span><br/>Hidden</th>
    </tr>
    </thead>
    <tbody>
    <% for (let card of cards) { %>
      <tr>
        <td>
          <% if (card.WikiImage) { %>
            <div style="min-height:86px"><img src="/images/genshin/<%= card.WikiImage %>.png" style="width:50px" /></div>
          <% } %>
        </td>
        <td><code style="font-size:15px"><%= String(card.Id).padStart(6, '0') %></code></td>
        <td>
          <a href="/TCG/cards/<%= String(card.Id).padStart(6, '0') %>" role="button" class="spacer5-all secondary dispBlock textAlignLeft"><%= card.WikiName %></a>
        </td>
        <td>
          <% for (let tag of card.MappedTagList.filter(x => !!x.Type)) { %>
            <%- include('partials/genshin/gcg/tag', { tag, GCG_TAGS_WITHOUT_ICONS }) %>
          <% } %>
        </td>
        <td class="textAlignCenter">
          <% if (card.CostList && Array.isArray(card.CostList)) { %>
            <% for (let costItem of card.CostList.filter(x => !!x.CostType)) { %>
              <div class="tcg-icon <%= costItem.CostType %>"><%= costItem.Count %></div>
            <% } %>
          <% } %>
        </td>
        <td class="textAlignCenter" style="font-size:14px;line-height:1.2em;">
          <span><%- card.IsCanObtain ? '<span style="color:green">Yes</span>' : '<span style="color:red">No</span>'%></span>
          <span>&nbsp;/&nbsp;</span>
          <span><%- card.IsHidden ? '<span style="color:red">Yes</span>' : '<span style="color:green">No</span>'%></span>
        </td>
      </tr>
    <% } %>
    </tbody>
  </table>
</section>