<% if (locals.card) { %>
  <section class="card">
    <h2>
      <span class="dispBlock" style="margin-top:-5px"><a role="button" class="secondary fontWeight600" style="font-size:14px;padding:3px 8px" href="/TCG/cards">Back to cards</a></span>
      <span class="valign spacer10-top">
        <% if (card.CharIcon) { %>
          <img class="framed-icon spacer10-right" src="/images/genshin/<%= card.CharIcon %>.png" style="width:50px;border-radius:50%" />
        <% } %>
        <span class="dispBlock"><%= card.WikiName %></span>
      </span>
    </h2>
    <div class="tab-list" role="tablist">
      <button role="tab" id="tab-display" class="tab <%= tab === 'display' ? 'active' : '' %>"
              ui-action="tab: #tabpanel-display, storyTabs; delete-query-param: tab">Display</button>

      <button role="tab" id="tab-wikitext" class="tab <%= tab === 'wikitext' ? 'active' : '' %>"
              ui-action="tab: #tabpanel-wikitext, storyTabs; set-query-param: tab=wikitext">Wikitext</button>

      <button role="tab" id="tab-json" class="tab <%= tab === 'json' ? 'active' : '' %>"
              ui-action="tab: #tabpanel-json, storyTabs; set-query-param: tab=json">JSON</button>
    </div>
  </section>

  <section id="tabpanel-display" class="tabpanel <%= tab === 'display' ? 'active' : 'hide' %>">
    <section class="card">
      <h2>Display</h2>
      <table class="article-table">
        <tr>
          <th colspan="2">Property Table</th>
        </tr>
        <tr>
          <td class="bold">Name</td>
          <td><%= card.WikiName %></td>
        </tr>
        <tr>
          <td class="bold">Type</td>
          <td><%= card.WikiType %></td>
        </tr>
        <tr>
          <td class="bold" style="width:150px">Image(s)</td>
          <td>
            <% if (card.WikiImage) { %>
              <img src="/images/genshin/<%= card.WikiImage %>.png" loading="lazy" decoding="async" style="max-height: 200px" />
            <% } %>
            <% if (card.WikiGoldenImage) { %>
              <img src="/images/genshin/<%= card.WikiGoldenImage %>.png" loading="lazy" decoding="async" style="max-height: 200px" />
            <% } %>
            <% if (card.CharIcon) { %>
              <img src="/images/genshin/<%= card.CharIcon %>.png" loading="lazy" decoding="async" style="max-height: 200px" />
            <% } %>
          </td>
        </tr>
        <% if (card.Hp) { %>
          <tr>
            <td class="bold" style="width:150px">Health</td>
            <td>
              <div class="valign">
                <div class="tcg-icon tcg-card-icon GCG_CHAR_HP spacer5-right"><%= card.Hp %></div>
                <span>(<%= card.Hp %>)</span>
              </div>
            </td>
          </tr>
        <% } %>
        <tr>
          <td class="bold">Tags</td>
          <td>
            <% for (let tag of card.MappedTagList.filter(x => !!x.Type)) { %>
              <%- include('partials/genshin/gcg/tag', { tag, GCG_TAGS_WITHOUT_ICONS }) %>
            <% } %>
          </td>
        </tr>
        <% if (card.CostList) { %>
          <tr>
            <td class="bold">Costs</td>
            <td>
              <% if (card.CostList && Array.isArray(card.CostList) && card.CostList.filter(x => !!x.CostType).length) { %>
                <% for (let costItem of card.CostList.filter(x => !!x.CostType)) { %>
                  <div class="tcg-icon <%= costItem.CostType %>"><%= costItem.Count %></div>
                <% } %>
              <% } else { %>
                <span>(None)</span>
              <% } %>
            </td>
          </tr>
        <% } %>
        <tr>
          <td class="bold">Is Obtainable</td>
          <td><span><%- card.IsCanObtain ? '<span style="color:green">Yes</span>' : '<span style="color:red">No</span>'%></span></td>
        </tr>
        <tr>
          <td class="bold">Is Hidden</td>
          <td><span><%- card.IsHidden ? '<span style="color:red">Yes</span>' : '<span style="color:green">No</span>'%></span></td>
        </tr>
        <tr>
          <td class="bold">Description/Effect</td>
          <td><%- use('partials/util/wikitext', { wikitext: card.WikiDesc, seamless: true }) %></td>
        </tr>
      </table>
      <table class="article-table">
        <tr>
          <th colspan="2">Skill Table</th>
        </tr>
        <% for (let { skill } of skills) { %>
          <tr>
            <td class="bold" style="width:150px;line-height:1em">
              <div class="spacer5-top"><%= skill.WikiName %></div>
              <small class="fontWeight500"><%= skill.WikiType %></small>
              <div class="valign spacer5-top spacer10-bottom">
                <% if (skill.CostList && Array.isArray(skill.CostList)) { %>
                  <% for (let costItem of skill.CostList.filter(x => !!x.CostType)) { %>
                    <div class="tcg-icon inline <%= costItem.CostType %>"><%= costItem.Count %></div>
                  <% } %>
                <% } %>
              </div>
            </td>
            <td style="vertical-align: top;">
              <div class="alignStretch">
                <%- use('partials/util/wikitext', { wikitext: skill.WikiDesc, seamless: true }) %>
              </div>
            </td>
          </tr>
        <% } %>
      </table>
    </section>
  </section>
  <section id="tabpanel-wikitext" class="tabpanel <%= tab === 'wikitext' ? 'active' : 'hide' %>">
    <section class="card">
      <h2>Wikitext</h2>
      <div class="content">
        <p class="info-notice spacer5-bottom">Review the wikitext carefully to make sure it's correct before saving anywhere to the actual wiki.</p>
        <p class="info-notice spacer10-bottom">Remember to add the version to the <code>{{Change History}}</code> template.</p>
        <fieldset>
          <legend>Quick Jump</legend>
          <div class="content alignStretch flexWrap" style="padding-top:0;max-width:80%;font-size:15px">
            <div class="w100p">
              <a role="button" class="spacer5-all secondary dispBlock textAlignLeft clearfix"
                 href="#wikitext-character">
                <span>Card Page</span>
                <span class="secondary-label small spacer10-left fr"><%= card.WikiType %></span>
              </a>
            </div>
            <% for (let { skill, index } of skills) { %>
              <div class="w100p">
                <a role="button" class="spacer5-all secondary dispBlock textAlignLeft clearfix"
                   href="#wikitext-skill-<%= index %>">
                  <span><b>Skill</b> / <%= skill.WikiName %></span>
                  <span class="secondary-label small spacer10-left fr"><%= skill.WikiType %></span>
                </a>
              </div>
            <% } %>
          </div>
        </fieldset>
      </div>
    </section>

    <section class="card" id="wikitext-character">
      <h2>Card Page</h2>
      <%- use('partials/util/wikitext', { wikitext: wikitext, gutters: true }) %>
    </section>
    <% for (let { skill, wikitext, index } of skills) { %>
      <section class="card" id="wikitext-skill-<%= index %>">
        <h2>Skill Page: <strong><%= skill.WikiName %></strong> <span class="secondary-label small spacer10-left"><%= skill.WikiType %></span></h2>
        <%- use('partials/util/wikitext', { wikitext: wikitext, gutters: true }) %>
      </section>
    <% } %>
  </section>
  <section id="tabpanel-json" class="tabpanel <%= tab === 'json' ? 'active' : 'hide' %>">
    <section class="card">
      <h2>JSON</h2>
      <%- use('partials/util/json', { content: card }) %>
    </section>
  </section>
<% } else { %>
  <section class="card">
    <div class="content">
      <p>Card not found for ID <code><%= req.params.cardId %></code></p>
      <div class="spacer10-top">
        <a role="button" class="secondary fontWeight600" style="font-size:14px;padding:3px 8px" href="/TCG/cards">Return back to cards list</a>
      </div>
    </div>
  </section>
<% } %>