<% if (locals.stage) { %>
  <section class="card">
    <h2>
      <span class="dispBlock" style="margin-top:-5px"><a role="button" class="secondary fontWeight600" style="font-size:14px;padding:3px 8px" href="/TCG/stages">Back to stages</a></span>
      <span class="dispBlock spacer10-top"><%= stage.WikiCombinedTitle %></span>
    </h2>
    <div class="tab-list" role="tablist">
      <button role="tab" id="tab-display" class="tab <%= tab === 'display' ? 'active' : '' %>"
              ui-action="tab: #tabpanel-display, stageTabs; delete-query-param: tab">Display</button>

      <button role="tab" id="tab-wikitext" class="tab <%= tab === 'wikitext' ? 'active' : '' %>"
              ui-action="tab: #tabpanel-wikitext, stageTabs; set-query-param: tab=wikitext">Wikitext</button>

      <button role="tab" id="tab-json" class="tab <%= tab === 'json' ? 'active' : '' %>"
              ui-action="tab: #tabpanel-json, stageTabs; set-query-param: tab=json">JSON</button>
    </div>
    <div role="tabpanel" aria-labelledby="tab-display" class="tabpanel <%= tab === 'display' ? 'active' : 'hide' %>" id="tabpanel-display">
      <div class="content">
        <table class="article-table">
          <thead>
          <tr>
            <th colspan="3">Stage Properties</th>
          </tr>
          </thead>
          <tr>
            <td class="bold" colspan="2">Stage ID</td>
            <td class="w70p"><code><%= String(stage.Id).padStart(6, '0') %></code></td>
          </tr>
          <tr>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold">Enemy Name</td>
            <td class="w70p">
              <div class="valign">
                <% if (stage?.Reward?.TalkDetailIcon) { %>
                  <img src="/images/genshin/<%= stage.Reward.TalkDetailIcon.IconName %>.png" class="framed-icon x42" />
                <% } %>
                <span class="spacer10-left"><%= stage.EnemyNameText || 'n/a' %></span>
              </div>
            </td>
          </tr>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold">Level Name</td>
            <td class="w70p"><%= stage?.WikiLevelName || 'n/a' %></td>
          </tr>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold">Level Type</td>
            <td class="w70p"><code><%= stage.LevelType || 'n/a' %></code></td>
          </tr>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold" style="padding-left:20px">Wiki Group</td>
            <td class="w70p"><%= stage.WikiGroup || 'No Group' %></td>
          </tr>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold" style="padding-left:20px">Wiki Type</td>
            <td class="w70p"><%= stage.WikiType || 'No Type' %></td>
          </tr>
          <% if (stage.LevelDifficulty) { %>
            <tr>
              <td class="no-border">&nbsp;</td>
              <td class="bold" style="padding-left:20px">Level Difficulty</td>
              <td class="w70p"><%= stage.LevelDifficulty === 'NORMAL' ? 'Friendly Fracas' : 'Serious Showdown' %></td>
            </tr>
          <% } %>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold">Min. Player Level</td>
            <td class="w70p"><%= stage.MinPlayerLevel || 'n/a' %></td>
          </tr>
          <% if (stage.Reward) { %>
            <tr>
              <td class="no-border">&nbsp;</td>
              <td class="bold">Intro Text</td>
              <td class="w70p"><%- use('partials/util/wikitext', { wikitext: normGenshinText(stage.Reward.IntroText), seamless: true }) %></td>
            </tr>
          <% } %>
          <% if (stage?.WorldLevel?.MapDescText) { %>
            <tr>
              <td class="no-border">&nbsp;</td>
              <td class="bold">Map Description<br /><small class="fontWeight600 opacity70p"><em>Not included in wikitext</em></small></td>
              <td class="w70p"><%- use('partials/util/wikitext', { wikitext: '{{Description|' + normGenshinText(stage.WorldLevel.MapDescText) + '|[[Map]] description}}', seamless: true }) %></td>
            </tr>
          <% } %>
        </table>
        <% if (stage.LevelLock) { %>
          <table class="article-table">
            <tr>
              <th colspan="3">Ascension Challenge</th>
            </tr>
            <% if (stage.LevelLock.UnlockLevel) { %>
              <tr>
                <td class="no-border">&nbsp;</td>
                <td class="bold">Player Level</td>
                <td class="w70p"><%= stage.LevelLock.UnlockLevel %></td>
              </tr>
            <% } %>
            <% if (stage.LevelLock.UnlockDescText) { %>
              <tr>
                <td class="no-border">&nbsp;</td>
                <td class="bold">Description</td>
                <td class="w70p"><%- include('partials/util/wikitext', { wikitext: normGenshinText(stage.LevelLock.UnlockDescText), seamless: true }) %></td>
              </tr>
            <% } %>
            <% if (stage.LevelLock.UnlockMainQuestId) { %>
              <tr>
                <td class="no-border">&nbsp;</td>
                <td class="bold">Quest Dialogue</td>
                <td class="w70p">
                  <a class="valign" href="/quests/<%= stage.LevelLock.UnlockMainQuestId %>" target="_blank">
                    <span class="spacer5-right"><%= stage.LevelLock.QuestTitleText %></span>
                    <%- icon('external-link', 14) %>
                  </a>
                </td>
              </tr>
            <% } %>
          </table>
        <% } %>
        <% if (stage.Reward) { %>
          <% if (stage.Reward.ObjectiveTextList && stage.Reward.ObjectiveTextList.length) { %>
            <table class="article-table">
              <tr>
                <th colspan="3">Objectives</th>
              </tr>
              <% for (let [index, objectiveText] of Object.entries(stage.Reward.ObjectiveTextList)) { %>
                <tr>
                  <td class="no-border">&nbsp;</td>
                  <td class="bold"><%= objectiveText %></td>
                  <td class="w70p">
                    <div class="spacer10-all">
                      <% for (let reward of stage.Reward.ChallengeRewardList[index].Reward.RewardItemList) { %>
                        <%- include('partials/genshin/archive/item', { material: reward.Material, itemCount: reward.ItemCount }) %>
                      <% } %>
                    </div>
                  </td>
                </tr>
              <% } %>
            </table>
          <% } %>
          <% if (stage.Reward.MappedFailTips && stage.Reward.MappedFailTips.length) { %>
            <table class="article-table">
              <tr>
                <th colspan="3" style="line-height:1em">Fail Tips<br /><small class="fontWeight600 opacity70p"><em>Not included in wikitext</em></small></th>
              </tr>
              <% for (let [index, failTipText] of Object.entries(stage.Reward.MappedFailTips)) { %>
                <tr>
                  <td class="no-border">&nbsp;</td>
                  <td class="bold">Fail Tip <%= (toInt(index) + 1) %></td>
                  <td class="w70p"><%= failTipText %></td>
                </tr>
              <% } %>
            </table>
          <% } %>
        <% } %>
        <% if (stage.Rule && false) { %>
          <table class="article-table">
            <tr>
              <th colspan="3">Rule</th>
            </tr>
              <tr>
                <td class="no-border">&nbsp;</td>
                <td class="bold">Rule ID</td>
                <td class="w70p"><%= stage.RuleId %></td>
              </tr>
              <tr>
                <td class="no-border">&nbsp;</td>
                <td class="bold">FirstDrawNum</td>
                <td class="w70p"><%= stage.Rule.FirstDrawNum %></td>
              </tr>
              <tr>
                <td class="no-border">&nbsp;</td>
                <td class="bold">SecondDrawNum</td>
                <td class="w70p"><%= stage.Rule.SecondDrawNum %></td>
              </tr>
              <tr>
                <td class="no-border">&nbsp;</td>
                <td class="bold">DrawCardNum</td>
                <td class="w70p"><%= stage.Rule.DrawCardNum %></td>
              </tr>
              <tr>
                <td class="no-border">&nbsp;</td>
                <td class="bold">HandCardLimit</td>
                <td class="w70p"><%= stage.Rule.HandCardLimit %></td>
              </tr>
          </table>
        <% } %>
        <% if (stage.CardGroup) { %>
          <table class="article-table">
            <tr>
              <th colspan="3">Player Deck</th>
            </tr>
            <tr>
              <td class="no-border">&nbsp;</td>
              <td class="bold">Player Card Group ID</td>
              <td class="w70p"><code><%= stage.CardGroupId %></code></td>
            </tr>
            <tr>
              <td class="no-border">&nbsp;</td>
              <td class="bold">Deck Name</td>
              <td class="w70p"><code><%= stage.CardGroup.DeckNameText || 'n/a' %></code></td>
            </tr>
            <tr>
              <td class="no-border">&nbsp;</td>
              <td class="bold">Active</td>
              <td class="w70p">
                <% for (let characterCard of stage.CardGroup.MappedCharacterList) { %>
                  <%- include('partials/genshin/gcg/card', { card: characterCard }) %>
                <% } %>
              </td>
            </tr>
            <tr>
              <td class="no-border">&nbsp;</td>
              <td class="bold">Action</td>
              <td class="w70p">
                <% for (let actionCard of stage.CardGroup.MappedCardList) { %>
                  <%- include('partials/genshin/gcg/card', { card: actionCard }) %>
                <% } %>
              </td>
            </tr>
            <tr>
              <td class="no-border">&nbsp;</td>
              <td class="bold">Reserve</td>
              <td class="w70p">
                <% for (let characterCard of stage.CardGroup.MappedWaitingCharacterList) { %>
                  <%- include('partials/genshin/gcg/card', { card: characterCard }) %>
                <% } %>
              </td>
            </tr>
          </table>
        <% } %>
        <% if (stage.EnemyCardGroup) { %>
          <table class="article-table">
            <tr>
              <th colspan="3">Enemy Deck</th>
            </tr>
            <tr>
              <td class="no-border">&nbsp;</td>
              <td class="bold">Enemy Card Group ID</td>
              <td class="w70p"><code><%= stage.EnemyCardGroupId %></code></td>
            </tr>
            <tr>
              <td class="no-border">&nbsp;</td>
              <td class="bold">Deck Name</td>
              <td class="w70p"><code><%= stage.EnemyCardGroup.DeckNameText || 'n/a' %></code></td>
            </tr>
            <tr>
              <td class="no-border">&nbsp;</td>
              <td class="bold">Active</td>
              <td class="w70p">
                <% if (!stage.EnemyCardGroup.MappedCharacterList.length) { %>
                  <code>n/a</code>
                <% } else { %>
                  <%- use('partials/util/wikitext', { wikitext: stage.EnemyCardGroup.WikiActiveText, seamless: true }) %>
                  <% for (let characterCard of stage.EnemyCardGroup.MappedCharacterList) { %>
                    <%- include('partials/genshin/gcg/card', { card: characterCard }) %>
                  <% } %>
                <% } %>
              </td>
            </tr>
            <tr>
              <td class="no-border">&nbsp;</td>
              <td class="bold">Action</td>
              <td class="w70p">
                <% if (!stage.EnemyCardGroup.MappedCardList.length) { %>
                  <code>n/a</code>
                <% } else { %>
                  <%- use('partials/util/wikitext', { wikitext: stage.EnemyCardGroup.WikiActionText, seamless: true }) %>
                  <% for (let actionCard of stage.EnemyCardGroup.MappedCardList) { %>
                    <%- include('partials/genshin/gcg/card', { card: actionCard }) %>
                  <% } %>
                <% } %>
              </td>
            </tr>
            <tr>
              <td class="no-border">&nbsp;</td>
              <td class="bold">Reserve</td>
              <td class="w70p">
                <% if (!stage.EnemyCardGroup.MappedWaitingCharacterList.length) { %>
                  <code>n/a</code>
                <% } else { %>
                  <%- use('partials/util/wikitext', { wikitext: stage.EnemyCardGroup.WikiReserveText, seamless: true }) %>
                  <% for (let characterCard of stage.EnemyCardGroup.MappedWaitingCharacterList) { %>
                    <%- include('partials/genshin/gcg/card', { card: characterCard }) %>
                  <% } %>
                <% } %>
              </td>
            </tr>
          </table>
        <% } %>
      </div>
      <h3 class="secondary-header spacer10-top">Stage Dialogue</h3>
      <div class="content">
        <% if (stage.StageTalk) { %>
          <%- use('partials/genshin/dialogue/dialogue-section', stage.StageTalk) %>
        <% } %>
      </div>
    </div>
    <div role="tabpanel" aria-labelledby="tab-wikitext" class="tabpanel <%= tab === 'wikitext' ? 'active' : 'hide' %> content" id="tabpanel-wikitext">
      <%- use('partials/util/wikitext', { wikitext: wikitext }) %>
    </div>
    <div role="tabpanel" aria-labelledby="tab-json" class="tabpanel <%= tab === 'json' ? 'active' : 'hide' %> content" id="tabpanel-json">
      <%- use('partials/util/json', { content: stageForJsonUnmapped }) %>
    </div>
  </section>
<% } else { %>
  <section class="card">
    <h2>TCG Stage not found</h2>
  </section>
<% } %>
<style>
td:first-of-type.no-border {
  width: 20px;
}

@media (max-width: 950px) {
    td:first-of-type.no-border {
        width: 0 !important;
        padding: 0 !important;
        font-size: 0 !important;
    }
}
</style>