<section class="card">
  <h2>Achievements</h2>
  <div class="content">
    <fieldset>
      <legend>Categories</legend>
      <div class="content alignStretch flexWrap" style="padding-top:0;">
        <% for (let goal of goals) { %>
          <div class="w50p">
            <a role="button" class="spacer5-all secondary valign textAlignLeft"
               href="/achievements/<%= toParam(goal.NameTextEN) %>">
              <img class="icon x32" src="/images/genshin/<%= goal.IconPath %>.png" loading="lazy" decoding="async" />
              <span class="spacer10-left"><%= goal.NameText %></span>
            </a>
          </div>
        <% } %>
      </div>
    </fieldset>
  </div>
</section>
<% if (achievements) { %>
  <% for (let section of Object.values(achievements)) { %>
    <section class="card" id="<%= section?.Goal?.NameText?.replace(' ', '_') || 'no_id' %>">
      <h2><%= section?.Goal?.NameText || 'n/a' %></h2>
      <div class="content">
        <div class="card result-count-card">
          <h2>Total: <span><%= section.Achievements.length %></span></h2>
        </div>
        <p class="info-notice">
          The <strong>Trigger</strong> column shows the trigger type and parameters. For certain types, e.g. finishing quests,
          I resolved the parameters for you (e.g. showing the quest name). But there's a lot of different trigger types, which'd
          require code for each one to resolve its parameters, which is too much effort.
          You can use the <a href="/id-usages">ID Usages</a> tool to lookup where certain IDs are used.</p>
      </div>
      <% if (section?.Goal?.FinishReward && section?.Goal?.FinishReward?.RewardSummary) { %>
        <div class="content">
          <h3>Category Reward</h3>
          <textarea readonly class="w100p wikitext autosize" spellcheck="false" translate="no"><%= section.Goal.FinishReward.RewardSummary.CombinedCards %></textarea>
        </div>
      <% } %>
      <div class="content">
        <table class="article-table">
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Primos</th>
            <th>Hidden</th>
            <th>Trigger</th>
          </tr>
          <% for (let achievement of section.Achievements) { %>
            <tr style="font-size:0.9em;line-height:1.4em">
              <td>
                <div style="font-weight:600;font-size:0.95em"><%= achievement.TitleText %></div>
              </td>
              <td>
                <div><%= normText(achievement.DescText) || 'n/a' %></div>
                <div class="valign meta-props spacer5-top">
                  <div class="prop">
                    <span class="prop-label">ID</span>
                    <span class="prop-values">
                    <span class="prop-value"><%= achievement.Id %></span>
                  </span>
                  </div>
                  <div class="prop">
                    <span class="prop-label">Order ID</span>
                    <span class="prop-values">
                    <span class="prop-value"><%= achievement.OrderId %></span>
                  </span>
                  </div>
                </div>
              </td>
              <td><%= achievement?.FinishReward?.RewardSummary?.PrimogemCount || 'n/a' %></td>
              <td><%= achievement.IsHidden ? 'Yes' : 'No' %></td>
              <td>
                <div class="code" style="word-break:break-all;max-width:300px;font-size:0.8em"><%=
                    achievement?.TriggerConfig?.TriggerType?.startsWith('TRIGGER_')
                            ? achievement?.TriggerConfig?.TriggerType?.slice('TRIGGER_'.length)
                            : (achievement?.TriggerConfig?.TriggerType || 'n/a')
                  %></div>
                <% if (achievement?.TriggerConfig?.TriggerType === 'TRIGGER_OPEN_WORLD_CHEST') { %>
                <% } else { %>
                  <div class="code" style="word-break:break-all;max-width:300px;font-size:0.8em"><%= JSON.stringify(achievement?.TriggerConfig?.ParamList || 'n/a') %></div>
                <% } %>
                <% if (achievement.TriggerConfig.TriggerQuests.length) { %>
                  <% for (let mainQuest of achievement.TriggerConfig.TriggerQuests) { %>
                    <a class="dispBlock" href="/quests/<%= mainQuest.Id %>"><%= mainQuest.TitleText || `${mainQuest.Id}: (No title)` %></a>
                  <% } %>
                <% } %>
                <% if (achievement.TriggerConfig.CityNameText) { %>
                  <div><b>City Name:</b> <%= achievement.TriggerConfig.CityNameText %></div>
                <%} %>
              </td>
            </tr>
          <% } %>
        </table>
      </div>
    </section>
  <% } %>
<% } %>
<% if (req.params.category && !achievements) { %>
  <section class="card">
    <div class="content">
      <p>Category not found: <%= req.params.category %></p>
    </div>
  </section>
<% } %>