<section class="card">
  <h2>Achievements</h2>
  <div class="content">
    <fieldset>
      <legend>Category Jump</legend>
      <div class="content alignStretch flexWrap" style="padding-top:0;">
        <% for (let goal of goals) { %>
          <div class="w33p">
            <a role="button" class="spacer5-all secondary dispBlock textAlignLeft"
               href="#<%= goal?.NameText?.replace(' ', '_') || 'no_id' %>"><%= goal?.NameText || 'n/a' %></a>
          </div>
        <% } %>
      </div>
    </fieldset>
  </div>
</section>
<section class="card">
  <div class="content">
    <p>The <strong>Trigger</strong> column shows the trigger type and parameters. For certain types, e.g. finishing quests,
    I resolved the parameters for you (e.g. showing the quest name). But there's a lot of different trigger types, which'd
    require code for each one to resolve its parameters. You can use the <a href="/id-usages">ID Usages</a> tool to lookup
    where certain IDs are used.</p>
  </div>
</section>
<% for (let section of Object.values(achievements)) { %>
  <section class="card" id="<%= section?.Goal?.NameText?.replace(' ', '_') || 'no_id' %>">
    <h2><%= section?.Goal?.NameText || 'n/a' %></h2>
    <div class="content">
      <% if (section?.Goal?.FinishReward && section?.Goal?.FinishReward?.RewardSummary) { %>
        <h3>Category Reward</h3>
        <textarea readonly class="w100p wikitext autosize" spellcheck="false"><%= section.Goal.FinishReward.RewardSummary.CombinedCards %></textarea>
      <% } %>
      <table class="article-table">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Hidden</th>
          <th>Primogems</th>
          <th>Trigger</th>
        </tr>
        <% for (let achievement of section.Achievements) { %>
          <tr>
            <td style="font-weight:600"><%= achievement.TitleText %></td>
            <td><%= achievement.DescText || 'n/a' %></td>
            <td><%= achievement.IsHidden ? 'Yes' : 'No' %></td>
            <td><code><%= achievement?.FinishReward?.RewardSummary?.PrimogemCount || 'n/a' %></code></td>
            <td>
              <div class="code" style="font-size:0.8em"><%=
                achievement?.TriggerConfig?.TriggerType?.startsWith('TRIGGER_')
                        ? achievement?.TriggerConfig?.TriggerType?.slice('TRIGGER_'.length)
                        : (achievement?.TriggerConfig?.TriggerType || 'n/a')
              %></div>
              <div class="code" style="word-break:break-all;max-width:300px;font-size:0.8em"><%= JSON.stringify(achievement?.TriggerConfig?.ParamList || 'n/a') %></div>
              <% if (achievement.TriggerConfig.TriggerQuests.length) { %>
                <% for (let mainQuest of achievement.TriggerConfig.TriggerQuests) { %>
                  <a class="dispBlock" href="/quests/<%= mainQuest.Id %>"><%= mainQuest.TitleText %></a>
                <% } %>
              <% } %>
              <% if (achievement.TriggerConfig.CityNameText) { %>
                <div><b>City Name:</b> <%= achievement.TriggerConfig.CityNameText %></div>
              <%} %>
            </td>
          </tr>
        <% } %>
      </table>
    </div>
  </section>
<% } %>