<% if (locals.material) { %>
  <section class="card">
    <h2><%= material.NameText %></h2>
    <div class="content">
      <table class="article-table">
        <tr>
          <td style="width:150px" class="bold">Name</td>
          <td><%= normText(material.NameText) %></td>
        </tr>
        <tr>
          <td class="bold">Description</td>
          <td><%- include('partials/util/wikitext', {content: normText(material.DescText), seamless: true}) %></td>
        </tr>
        <tr>
          <td class="bold">Quality</td>
          <td>
            <div class="valign"><code class="spacer10-right"><%= material.RankLevel %></code> <%- include('partials/util/stars', { quality: material.RankLevel }) %></div>
          </td>
        </tr>
        <tr>
          <td class="bold">Icon</td>
          <td><img src="/images/genshin/<%= material.Icon %>.png" style="max-height:74px" loading="lazy" decoding="async" /></td>
        </tr>
        <tr>
          <td class="bold">Material Type</td>
          <td><code><%= material.MaterialType %></code></td>
        </tr>
        <tr>
          <td class="bold">Item Type</td>
          <td><code><%= material.ItemType %></code></td>
        </tr>
      </table>
    </div>
  </section>
  <section class="card">
    <h2>Raw JSON</h2>
    <div class="content">
      <textarea class="code json w100p autosize" spellcheck="false" translate="no"><%= JSON.stringify(material, null, 2) %></textarea>
    </div>
  </section>
<% } else { %>
  <section class="card">
    <h2>Item not found.</h2>
  </section>
<% } %>