<div class="site-mode-selector valign spacer10-left posRel">
  <button class="site-mode-dropdown-button secondary<%= locals.noBorderLight ? '' : ' border-light' %>" ui-action="dropdown: #<%= dropdownId %>">
    <% if (req.context.siteMode === 'genshin') { %>
      <img src="/images/site/logo/Sucrose.webp" style="width:24px;height:auto;margin:-1px 0 -1px -5px" />
    <% } else if (req.context.siteMode === 'hsr') { %>
      <img src="/images/site/logo/March_7th_Sticker_1.webp" style="width:24px;height:auto;margin:-1px 0 -1px -5px" />
    <% } else if (req.context.siteMode === 'zenless') { %>
      <img src="/images/site/logo/Belle.webp" style="width:24px;height:auto;border-radius:50%;margin:-1px 0 -1px -5px" />
    <% } else if (req.context.siteMode === 'wuwa') { %>
      <img src="/images/site/logo/Yangyang.webp" style="width:24px;height:auto;border-radius:50%;margin:-1px 0 -1px -5px" />
    <% } %>
    <span class="spacer10-left spacer5-right"><%= req.context.siteModeName %></span>
    <%- icon('chevron-down') %>
  </button>
  <div id="<%= dropdownId %>" class="site-mode-dropdown ui-dropdown<%= locals.dropdownExtraClass ? ' ' + locals.dropdownExtraClass : '' %>">
    <a href="/" class="option valign" ui-action="dropdown-item">
      <img src="/images/site/logo/Sucrose.webp" style="width:16px;height:auto" />
      <span class="spacer5-left">Genshin Impact</span>
    </a>
    <a href="/hsr" class="option valign" ui-action="dropdown-item">
      <img src="/images/site/logo/March_7th_Sticker_1.webp" style="width:16px;height:auto" />
      <span class="spacer5-left">Honkai Star Rail</span>
    </a>
    <a href="/zenless" class="option valign" ui-action="dropdown-item">
      <img src="/images/site/logo/Belle.webp" style="width:16px;height:auto;border-radius:50%" />
      <span class="spacer5-left">Zenless Zone Zero</span>
    </a>
    <a href="/wuwa" class="option valign" ui-action="dropdown-item">
      <img src="/images/site/logo/Yangyang.webp" style="width:16px;height:auto;border-radius:50%" />
      <span class="spacer5-left">Wuthering Waves</span>
    </a>
  </div>
</div>
