<!-- Required partial parameters: paramName, cookieName, fileFormatParams, fileFormatDefault -->
<fieldset class="file-format-options spacer10-right"
          data-param-name="<%= paramName %>"
          data-cookie-name="<%= cookieName %>"
          data-file-format-default="<%= locals.fileFormatDefault || '' %>"
          data-file-format-params="<%= locals.fileFormatParams || '' %>"
          data-lang-codes="<%= Object.keys(req.context.languages).join(',') %>">
  <legend><code><%= paramName %></code> parameter</legend>
  <div class="field spacer5-horiz" style="padding-right:30px">
    <label class="ui-radio dispBlock" style="padding-left:5px;font-size:13px;">
      <input type="radio" name="<%= cookieName %>" value="default" <%= cookieTernary(cookieName).equals('default').or.isEmpty().then('checked') %> />
      <span>Use English wiki format</span>
    </label>
    <label class="ui-radio dispBlock" style="padding-left:5px;font-size:13px;">
      <input type="radio" name="<%= cookieName %>" value="remove" <%= cookieTernary(cookieName).equals('remove').then('checked') %> />
      <span>Remove parameter</span>
    </label>
    <label class="ui-radio dispBlock" style="padding-left:5px;font-size:13px;">
      <input type="radio" name="<%= cookieName %>" value="custom" <%= cookieTernary(cookieName).equals('custom').then('checked') %> />
      <span>Use custom format</span>
    </label>
    <div class="file-format-options-custom-format <%= cookieTernary(cookieName).equals('custom').then('', 'hide') %>" style="margin-left: 29px;">
      <div class="posRel">
        <textarea name="<%= cookieName + '.CustomFormat' %>"
                  placeholder="File format" class="code file-format-options-custom-format-input"
                  style="min-width:450px;min-height:100px;padding-right:25px"><%= cookie(cookieName + '.CustomFormat') %></textarea>
        <span ui-tippy="{content: 'Click to show options.',delay:[200, 100]}"
              class="file-format-options-custom-format-help-button dispInlineBlock spacer5-left posAbs"
              style="height:16px;width:16px;font-size:0;opacity:0.5;right:5px;top:5px;margin:auto 0;cursor:pointer;">
          <%- icon('info', 16) %>
        </span>
      </div>
    </div>
  </div>
</fieldset>