<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= req.context.formattedPageTitle %></title>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="csrf-token" content="<%= locals.csrfToken || '' %>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <% req.context.styles.forEach(styleHref => { %>
      <%- compileResourceElement(styleHref, 'css') %>
    <% }); %>
    <script nonce="<%= req.context.nonce %>">
    function waitForConstant(variableName, callback, interval = 50, currentTry = 0, maxTries = 100) {
      if (window[variableName]) {
        callback(window[variableName]);
        return;
      }
      if (currentTry >= maxTries) {
        return;
      }
      setTimeout(() => {
        waitForConstant(variableName, callback, interval, currentTry + 1, maxTries);
      }, interval);
    }
    function waitForElement(query, callback, interval = 50, currentTry = 0, maxTries = 100) {
      let el;
      if ((el = document.querySelector(query))) {
        callback(el);
        return;
      }
      if (currentTry >= maxTries) {
        return;
      }
      setTimeout(() => {
        waitForElement(query, callback, interval, currentTry + 1, maxTries);
      }, interval);
    }
    </script>
    <% req.context.scripts.forEach(scriptSrc => { %>
      <%- compileResourceElement(scriptSrc, 'js') %>
    <% }); %>
    <template id="template-info-icon">
      <%- icon('info') %>
    </template>
    <template id="template-alert-icon">
      <%- icon('alert-triangle') %>
    </template>
  </head>
  <body class="<%= req.context.bodyClassString %> <%= req.cookies['nightmode'] ? 'nightmode' : '' %>">
    <span id="top" style="height:0;width:0;opacity:0"></span>
    <header id="header" class="thin-border" role="navigation" aria-label="Main">
      <div class="left">
        <a id="site-title" href="/" aria-label="Site title">
          <div id="site-logo-bg"></div>
          <div id="site-logo-fg"><%- icon('home') %></div>
          <span style="line-height:21px;margin-top:-3px">
            <small style="opacity:0.65">kwwxis's</small><br><%= config.views.siteTitle %>
          </span>
        </a>
      </div>
      <div class="right">
        <div class="input-language-selector header-language-selector">
          <div class="valign">
            <strong>Input Language</strong>
            <span ui-tippy="{allowHTML: true, content: 'The language for text fields (e.g. searching for quests/dialogue)',delay:[200, 100]}"
              class="dispInlineBlock spacer5-left" style="height:14px;width:14px;font-size:0;opacity:0.5">
              <%- icon('info',{width: 14, height: 14}) %>
            </span>
          </div>
          <select name="inputLangCode">
            <% Object.keys(req.context.languages).forEach(langCode => { %>
            <option value="<%= langCode %>" <%= req.context.inputLangCode === langCode ? 'selected' : '' %>><%= req.context.languages[langCode] %></option>
            <% }) %>
          </select>
        </div>

        <div class="output-language-selector header-language-selector">
          <div class="valign">
            <strong>Output Language</strong>
            <span ui-tippy="{allowHTML: true, content: 'The language for output results (e.g. quest dialogue generation / single branch dialogue results).<br>OL results are unaffected by this.',delay:[200, 100]}"
              class="dispInlineBlock spacer5-left" style="height:14px;width:14px;font-size:0;opacity:0.5">
              <%- icon('info',{width: 14, height: 14}) %>
            </span>
          </div>
          <select name="outputLangCode">
            <% Object.keys(req.context.languages).forEach(langCode => { %>
             <option value="<%= langCode %>" <%= req.context.outputLangCode === langCode ? 'selected' : '' %>><%= req.context.languages[langCode] %></option>
            <% }) %>
          </select>
        </div>

        <div class="alignStretch">
          <div class="toggle-theme-buttons alignStretch button-group">
            <button class="secondary <%= req.cookies['nightmode'] ? '' : 'selected' %>" value="daymode"><%- icon('sun') %></button>
            <button class="secondary <%= req.cookies['nightmode'] ? 'selected' : '' %>" value="nightmode"><%- icon('moon') %></button>
          </div>
          <span class="secondary-label disabled spacer10-right" style="cursor:default;"><%= req.context.currentGenshinVersion %></span>
        </div>

      </div>
    </header>
    <div class="content"><%- include(subview, sublocals) %></div>
    <footer>
      <div class="wrapper valign">
        <section class="credit">
          <p>kwwxis's genshin wiki tools</p>
        </section>
        <section class="footer-links">
          <a href="http://genshin-impact.fandom.com/">Genshin Wiki</a>
        </section>
      </div>
    </footer>
  </body>
</html>