<!DOCTYPE html>
<html lang="en" class="<%= cookieTernary('nightmode').isTruthy().then('nightmode') %>">
  <head>
    <meta charset="utf-8" />
    <title><%= req.context.getFormattedPageTitle() %></title>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="csrf-token" content="<%= locals.csrfToken || '' %>" />
    <meta name="view-stack" content="<%= req.context.getAllViewNames() %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% for (let [propName, propValue] of Object.entries(req.context.htmlMetaProps)) { %>
      <meta name="<%= propName %>" content="<%= propValue %>" />
    <% } %>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <template id="template-info-icon"><%- icon('info') %></template>
    <template id="template-alert-icon"><%- icon('alert-triangle') %></template>
    <% if (env.NODE_ENV === 'development') { %>
      <script async src="<%= toBoolean(env.SSL_ENABLED) ? 'https' : 'http' %>://<%= env.VHOST %>:35729/livereload.js"></script>
    <% } %>
    <link rel="stylesheet" href="<%= req.context.webpackBundles.appCssBundle %>">
    <script src="<%= req.context.webpackBundles.vendorJsBundle %>"></script>
    <script src="<%= req.context.webpackBundles.appJsBundle %>"></script>
  </head>
  <body class="<%= req.context.bodyClassString %> <%= cookieTernary('nightmode').isTruthy().then('nightmode') %>">
    <span id="top" style="height:0;width:0;opacity:0"></span>
    <header id="header" class="thin-border">
      <div class="left">
        <a id="site-title" href="/" aria-label="Site title">
          <div id="site-logo-bg"></div>
          <div id="site-logo-fg"><img src="/images/Sucrose.png" style="width:45px;height:auto" /></div>
          <span style="line-height:21px"><%= req.context.siteTitle %></span>
        </a>
      </div>
      <div class="right">
        <%- include('partials/menu/app-language-selectors') %>
        <%- include('partials/menu/app-menu-theme-buttons') %>
        <div id="mobile-menu-trigger" class="alignStretch">
          <button id="mobile-menu-button" ui-action="toggle: 200, #mobile-menu, #mobile-menu-body-cover; toggle-class: body, mobile-menu-open">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                 stroke-linecap="round" stroke-linejoin="round" shape-rendering="crispEdges" class="icon icon-menu">
              <line x1="3" y1="6" x2="21" y2="6"></line>
              <line x1="8" y1="12" x2="21" y2="12"></line>
              <line x1="13" y1="18" x2="21" y2="18"></line>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                 stroke-linecap="round" stroke-linejoin="round" class="icon icon-close">
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <div class="content"><%- include(subviewName, subviewStack) %></div>
    <div id="mobile-menu" class="hide thin-border">
      <%- include('partials/menu/app-menu-theme-buttons') %>
      <div class="spacer15-vert">
        <%- include('partials/menu/app-language-selectors') %>
      </div>
      <%- include('partials/menu/app-menu') %>
    </div>
    <div id="mobile-menu-body-cover" class="hide"></div>
    <footer>
      <div class="wrapper valign">
        <section class="credit">
          <p>Saccharose.wiki</p>
        </section>
        <section class="footer-links">
          <a href="https://genshin-impact.fandom.com/">Genshin Wiki</a>
          <a href="https://github.com/kwwxis/Saccharose">Source Code</a>
        </section>
      </div>
    </footer>
  </body>
</html>