<div class="card result-count-card">
  <h2>Total Results: <span><%= searchView.TitleResults.length %> title results &amp; <%= searchView.ContentResults.length %> content results</span></h2>
</div>
<% if (searchView.TitleResults.length) { %>
  <section class="card">
    <h2>Title Match Results</h2>
    <div class="content dispFlex flexWrap alignStart">
      <% for (let readableView of searchView.TitleResults) { %>
        <div class="w100p">
          <a class="secondary spacer3-all valign textAlignLeft" role="button" href="/readables/item/<%= readableView.Id %>">
            <img class="icon x32" src="/images/genshin/<%= readableView?.Icon %>.png" loading="lazy" />
            <span class="spacer10-left"><%= readableView?.TitleText %></span>
          </a>
        </div>
      <% } %>
    </div>
  </section>
<% } %>
<% if (searchView.ContentResults.length) { %>
  <% searchView.ContentResults.forEach((readableView, idx) => { %>
    <section class="card">
      <h2>Content Match Result #<%= idx + 1 %></h2>
      <div class="content">
        <a class="secondary spacer3-all valign textAlignLeft" role="button" href="/readables/item/<%= readableView.Id %>">
          <img class="icon x32" src="/images/genshin/<%= readableView?.Icon %>.png" loading="lazy" />
          <span class="spacer10-left"><%= readableView?.TitleText %></span>
        </a>
        <%- include('partials/item/readable-items', {readable: readableView, itemIdPrefix: idx}) %>
      </div>
    </section>
  <% }) %>
<% } %>
<% if (!searchView.TitleResults.length && !searchView.ContentResults.length) { %>
  <div class="card no-results-found">
    <div class="content">
      <p>No results found for <b><%= searchText %></b></p>
    </div>
  </div>
<% } %>