<section id="app-sidebar__basic" class="card">
  <h2>Basic Tools</h2>
  <div class="content">
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--text-map-expand', 'selected') %>" role="button" href="/text-map-expand">Text Map Expansion</a>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--OL', 'selected') %>" role="button" href="/OL">Other Languages Generator</a>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--id-usages', 'selected') %>" role="button" href="/id-usages">ID Usages</a>
  </div>
</section>
<section id="app-sidebar__dialogue" class="card">
  <h2>Quests &amp; Dialogue</h2>
  <div class="content">
    <h4>Dialogue Generators</h4>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--quests', 'selected') %>" role="button" href="/quests">Quest Dialogue</a>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--branch-dialogue', 'selected') %>" role="button" href="/branch-dialogue">Single Branch Dialogue</a>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--npc-dialogue', 'selected') %>" role="button" href="/npc-dialogue">NPC Dialogue</a>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--reminders', 'selected') %>" role="button" href="/reminders">Reminder Dialogue</a>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--vo-to-dialogue', 'selected') %>" role="button" href="/vo-to-dialogue">VO File to Dialogue</a>

    <h4 class="spacer10-top">Lists</h4>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--chapters', 'selected') %>" role="button" href="/chapters">Chapters & Acts</a>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--all-reminders', 'selected') %>" role="button" href="/reminders/all">All Reminder Dialogue</a>
  </div>
</section>
<section id="app-sidebar__items" class="card">
  <h2>Items</h2>
  <div class="content">
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--readables-search', 'selected') %>" role="button" href="/readables/search">Search Readables</a>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--readables', 'selected') %>" role="button" href="/readables">Books &amp; Readables</a>
  </div>
</section>
<section id="app-sidebar__character" class="card">
  <h2>Character Info</h2>
  <div class="content">
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--character-stories', 'selected') %>" role="button" href="/character/stories">Character Stories</a>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--companion-dialogue', 'selected') %>" role="button" href="/character/companion-dialogue">Serenitea Pot Dialogue</a>
  </div>
</section>
<section id="app-sidebar__character" class="card">
  <h2>Genius Invokation TCG</h2>
  <div class="content">
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--tcg-talk-detail', 'selected') %>" role="button" href="/TCG/talk-detail">TCG Talk Detail</a>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--tcg-tutorial-text', 'selected') %>" role="button" href="/TCG/tutorial-text">TCG Tutorial Text</a>
  </div>
</section>
<section id="app-sidebar__character" class="card">
  <h2>Misc</h2>
  <div class="content">
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--tutorials', 'selected') %>" role="button" href="/tutorials">Tutorials</a>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--viewpoints', 'selected') %>" role="button" href="/viewpoints">Viewpoints</a>
  </div>
</section>