
<div class="input-language-selector header-language-selector">
  <div class="valign">
    <strong>Input Language</strong>
    <span ui-tippy="{allowHTML: true, content: 'The language for text fields (e.g. searching for quests/dialogue)',delay:[200, 100]}"
          class="dispInlineBlock spacer5-left" style="height:14px;width:14px;font-size:0;opacity:0.5">
              <%- icon('info', 14) %>
            </span>
  </div>
  <select name="inputLangCode">
    <% Object.keys(req.context.languages).forEach(langCode => { %>
      <option value="<%= langCode %>" <%= req.context.inputLangCode === langCode ? 'selected' : '' %>><%= req.context.languages[langCode] %></option>
    <% }) %>
  </select>
</div>

<div class="output-language-selector header-language-selector">
  <div class="valign">
    <strong>Output Language</strong>
    <span ui-tippy="{allowHTML: true, content: 'The language for output results (e.g. quest dialogue generation / single branch dialogue results).<br>OL results are unaffected by this.',delay:[200, 100]}"
          class="dispInlineBlock spacer5-left" style="height:14px;width:14px;font-size:0;opacity:0.5">
              <%- icon('info', 14) %>
            </span>
  </div>
  <select name="outputLangCode">
    <% Object.keys(req.context.languages).forEach(langCode => { %>
      <option value="<%= langCode %>" <%= req.context.outputLangCode === langCode ? 'selected' : '' %>><%= req.context.languages[langCode] %></option>
    <% }) %>
  </select>
</div>