<div class="dialogue-section" id="<%= id %>">
  <h4 class="dialogue-section-title valign"><%= title %>
    <% if (locals.helptext) { %>
      <span ui-tippy-hover="<%= locals.helptext %>" class="dispInlineBlock spacer5-left" style="height:18px;width:18px;"><%- icon('info', 18) %></span>
    <% } %>
    <% if (locals.wikitext && (!locals.metadata || !Object.keys(locals.metadata).length)) { %>
      <div class="grow"></div>
      <button class="secondary small" copy-target="wikitext-<%= id %>"
        ui-tippy-hover="Click to copy to clipboard"
        ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
        style="margin:5px 0 0">Copy</button>
    <% } %>
  </h4>
  <% if (locals.metadata && Object.keys(locals.metadata).length) { %>
    <div class="valign">
      <div class="valign metadata-props">
        <% for (let metaProp of metadata) { %>
          <div class="prop">
            <span class="prop-label"><%= metaProp.label %></span>
            <span class="prop-values">
              <% for (let val of metaProp.values) { %>
                <% if (val.link) { %>
                  <a class="prop-value" href="<%= val.link %>" target="_blank"><%= val.value %></a>
                <% } else { %>
                  <span class="prop-value"><%= val.value %></span>
                <% } %>
              <% } %>
            </span>
          </div>
        <% } %>
      </div>
      <% if (locals.wikitext) { %>
        <div class="grow"></div>
        <button class="secondary small" copy-target="wikitext-<%= id %>"
          ui-tippy-hover="Click to copy to clipboard"
          ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
          style="margin:0 0 5px">Copy</button>
      <% } %>
    </div>
  <% } %>
  <% if (locals.htmlMessage) { %>
    <div class="dialogue-section-info-message"><%- htmlMessage %></div>
  <% } %>
  <% if (locals.wikitext) { %>
    <textarea readonly id="wikitext-<%= id %>" class="dialogue-section-wikitext w100p autosize" style="resize:vertical;min-height:40px;"><%= wikitext %></textarea>
  <% } %>
  <% if (locals.wikitextArray) { %>
    <% wikitextArray.forEach((item, idx) => { %>
      <textarea readonly id="wikitext-<%= id %>-<%= idx %>" class="dialogue-section-wikitext w100p autosize" style="resize:vertical;min-height:40px;"><%= item %></textarea>
    <% }) %>
  <% } %>
  <div class="dialogue-section-children">
    <% children.forEach(section => { %>
     <%- include('partials/quests/dialogue-section', section) %>
    <% }) %>
  </div>
</div>