<section class="card">
  <h2>
    <strong><%= questId %>:</strong>&nbsp;<%= questTitle || '(No title)' %>
    <a class="help-info fr fontWeight600" style="font-size:15px;cursor:pointer;">Help</a>
  </h2>
  <div class="content">
    <h4>Quest Description<%= questDescriptions.length > 1 ? 's' : '' %></h4>
    <% if (!questDescriptions.length) { %>
      <p>(None)</p>
    <% } %>
    <% questDescriptions.forEach((questDescription, idx) => { %>
      <div class="posRel">
        <textarea id="quest-desc-<%= idx %>" readonly class="wikitext w100p autosize" style="resize:vertical;min-height:40px;padding-right:45px" spellcheck="false"><%= questDescription %></textarea>
        <button class="secondary small posAbs" ui-action="copy: #quest-desc-<%= idx %>"
                ui-tippy-hover="Click to copy to clipboard"
                ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                style="right: 0; top: 0;">Copy</button>
      </div>
    <% }) %>
  </div>
  <% if (locals.rewardInfobox) { %>
    <div class="content">
      <h4>Quest Rewards</h4>
      <div class="posRel">
        <textarea id="quest-reward" readonly class="wikitext w100p autosize" style="resize:vertical;min-height:40px;padding-right:45px" spellcheck="false"><%= rewardInfobox %></textarea>
        <button class="secondary small posAbs" ui-action="copy: #quest-reward"
                ui-tippy-hover="Click to copy to clipboard"
                ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                style="right: 0; top: 0;">Copy</button>
      </div>
    </div>
  <% } %>
  <div class="content">
    <div class="valign">
      <h4>Steps</h4>
      <div class="grow"></div>
      <% if (stepsWikitext) { %>
        <button class="secondary small" ui-action="copy: #quest-steps"
                ui-tippy-hover="Click to copy to clipboard"
                ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                style="margin:5px 0">Copy</button>
      <% } %>
    </div>
    <% if (stepsWikitext) { %>
      <textarea id="quest-steps" readonly class="wikitext w100p autosize" style="resize:vertical;min-height:40px;" spellcheck="false"><%= stepsWikitext %></textarea>
    <% } else { %>
      <p>(None)</p>
    <% } %>
  </div>
  <div class="content">
    <div class="valign">
      <h4>Other Languages</h4>
      <div class="grow"></div>
      <% if (otherLanguagesWikitext) { %>
        <button class="secondary small" ui-action="copy: #quest-name-ol"
                ui-tippy-hover="Click to copy to clipboard"
                ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                style="margin:5px 0">Copy</button>
      <% } %>
    </div>
    <% if (otherLanguagesWikitext) { %>
      <textarea id="quest-name-ol" readonly class="wikitext w100p" style="resize:vertical;min-height:200px;" spellcheck="false"><%= otherLanguagesWikitext %></textarea>
    <% } else { %>
      <p>(Not applicable)</p>
    <% } %>
  </div>
  <% if (travelLogSummary.length) { %>
    <div class="content">
      <h4>Travel Log Summarization</h4>
      <% travelLogSummary.forEach((travelLogSummaryItem, idx) => { %>
        <div class="posRel">
          <textarea id="travel-log-summary-item-<%= idx %>" readonly class="wikitext w100p autosize"
                    style="resize:vertical;min-height:40px;padding-right:45px" spellcheck="false"><%= travelLogSummaryItem %></textarea>
          <button class="secondary small posAbs" ui-action="copy: #travel-log-summary-item-<%= idx %>"
                  ui-tippy-hover="Click to copy to clipboard"
                  ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                  style="right: 0; top: 0;">Copy</button>
        </div>
      <% }) %>
    </div>
  <% } %>
  <% if (cutscenes.length) { %>
    <div class="content">
      <h4>Cutscenes</h4>
      <p>No speaker info is associated with cutscene subtitles. So you'll need to manually figure that out.</p>
      <% cutscenes.forEach((item, idx) => { %>
        <div class="cutscene-info">
          <p><strong><%= item.file %></strong></p>
          <div class="posRel">
            <textarea id="cutscene-<%= idx %>" readonly class="wikitext w100p autosize" style="resize:vertical;min-height:40px;padding-right:45px" spellcheck="false"><%= item.text %></textarea>
            <button class="secondary small posAbs" ui-action="copy: #cutscene-<%= idx %>"
                    ui-tippy-hover="Click to copy to clipboard"
                    ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                    style="right: 0; top: 0;">Copy</button>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>
  <h2>Dialogue</h2>
  <div class="dialogue-container">
    <% dialogue.forEach(section => { %>
      <%- include('partials/dialogue/dialogue-section', section) %>
    <% }) %>
  </div>
</section>