<% if (locals.stage) { %>
<section class="card">
  <h2><%= stage.LevelPageTitle %></h2>
  <div class="content">
    <table class="article-table">
      <thead>
      <tr>
        <th colspan="3">Property Table</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td class="bold" colspan="2">Stage ID</td>
          <td class="w70p"><%= stage.Id %></td>
        </tr>
        <tr>
          <td class="no-border">&nbsp;</td>
          <td class="bold">Stage Player Level</td>
          <td class="w70p"><%= stage.LevelGcgLevel || 'n/a' %></td>
        </tr>
        <tr>
          <td class="no-border">&nbsp;</td>
          <td class="bold">Enemy Name</td>
          <td class="w70p"><%= stage.EnemyNameText || 'n/a' %></td>
        </tr>
        <tr>
          <td class="no-border">&nbsp;</td>
          <td class="bold">Level Name</td>
          <td class="w70p"><%= stage?.Reward?.LevelNameText || 'n/a' %></td>
        </tr>
        <tr>
          <td class="no-border">&nbsp;</td>
          <td class="bold">Level Type</td>
          <td class="w70p"><%= stage.LevelType || 'n/a' %></td>
        </tr>
        <% if (stage.LevelDifficulty) { %>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold">Level Difficulty</td>
            <td class="w70p"><%= stage.LevelDifficulty === 'NORMAL' ? 'Friendly Fracas' : 'Serious Showdown' %></td>
          </tr>
        <% } %>
        <% if (stage.Rule) { %>
          <tr>
            <td class="bold" colspan="2">Rule ID</td>
            <td class="w70p"><%= stage.RuleId %></td>
          </tr>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold">FirstDrawNum</td>
            <td class="w70p"><%= stage.Rule.FirstDrawNum %></td>
          </tr>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold">SecondDrawNum</td>
            <td class="w70p"><%= stage.Rule.SecondDrawNum %></td>
          </tr>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold">DrawCardNum</td>
            <td class="w70p"><%= stage.Rule.DrawCardNum %></td>
          </tr>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold">HandCardLimit</td>
            <td class="w70p"><%= stage.Rule.HandCardLimit %></td>
          </tr>
        <% } %>
      <% if (stage.LevelLock) { %>
        <tr>
          <td class="bold" colspan="2">Ascension Challenge</td>
          <td class="w70p"></td>
        </tr>
        <% if (stage.LevelLock.UnlockLevel) { %>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold">Player Level</td>
            <td class="w70p"><%= stage.LevelLock.UnlockLevel %></td>
          </tr>
        <% } %>
        <% if (stage.LevelLock.UnlockDescText) { %>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold">Description</td>
            <td class="w70p"><%= normText(stage.LevelLock.UnlockDescText) %></td>
          </tr>
        <% } %>
        <% if (stage.LevelLock.UnlockMainQuestId) { %>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td class="bold">Quest</td>
            <td class="w70p"><a href="/quests/<%= stage.LevelLock.UnlockMainQuestId %>"><%= stage.LevelLock.QuestTitleText %></a></td>
          </tr>
        <% } %>
      <% } %>
      </tbody>
    </table>
  </div>
</section>
<% } else { %>
  <section class="card">
    <h2>TCG Stage not found</h2>
  </section>
<% } %>