<section class="card">
  <h2>TCG Stages</h2>
  <div class="content">
    <fieldset>
      <legend>Groups &amp; Types</legend>
      <div class="content alignStretch flexWrap" style="padding-top:0;max-width:80%;font-size:15px">
        <% for (let [groupName, stagesByType] of Object.entries(stagesByGroupAndType)) { %>
          <% for (let typeName of Object.keys(stagesByType)) { %>
            <div class="w100p">
              <a role="button" class="spacer5-all secondary dispBlock textAlignLeft"
                 href="#<%= toParam(groupName) + '_' + toParam(typeName) %>"><b><%= groupName %></b> / <%= typeName %></a>
            </div>
          <% } %>
        <% } %>
      </div>
    </fieldset>
  </div>
</section>
<% for (let [groupName, stagesByType] of Object.entries(stagesByGroupAndType)) { %>
  <% for (let [typeName, stages] of Object.entries(stagesByType)) { %>
    <section class="card" id="<%= toParam(groupName) + '_' + toParam(typeName) %>">
      <h2><%= groupName %> / <%= typeName %></h2>
      <table class="article-table">
        <thead>
          <tr style="font-size: 14px;text-align: left;line-height: 16px;">
            <th>Icon</th>
            <th>ID</th>
            <th>Character</th>
            <th>Stage</th>
            <th>Internal<br/>Type</th>
            <th>Wiki<br/>Group</th>
            <th>Wiki<br/>Type</th>
          </tr>
        </thead>
        <tbody>
          <% for (let stage of stages) { %>
            <tr style="font-size:15px">
              <td>
                <% if (stage?.Reward?.TalkDetailIcon) { %>
                  <img src="/images/genshin/<%= stage.Reward.TalkDetailIcon.IconName %>.png" class="framed-icon x42" />
                <% } %>
              </td>
              <td>
                <span class="code" style="font-size:14px"><%= String(stage.Id).padStart(6, '0') %></span>
              </td>
              <td>
                <span><%= stage.WikiCharacter %></span>
              </td>
              <td>
                <a href="/TCG/stages/<%= String(stage.Id).padStart(6, '0') %>" role="button" class="spacer5-all secondary dispBlock textAlignLeft"><%= stage.WikiLevelName %></a>
              </td>
              <td>
                <span class="code" style="font-size:14px"><%= stage.LevelType %></span>
              </td>
              <td>
                <span style="font-size:14px"><%= stage.WikiGroup %></span>
              </td>
              <td>
                <span style="font-size:14px"><%= stage.WikiType %></span>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </section>
  <% } %>
<% } %>