<% if (locals.card) { %>
  <section class="card">
    <h2>
      <span class="dispBlock" style="margin-top:-5px"><a role="button" class="secondary fontWeight600" style="font-size:14px;padding:3px 8px" href="/TCG/cards">Back to cards</a></span>
      <span class="dispBlock spacer10-top"><%= card.WikiName %></span>
    </h2>
    <div class="tab-list" role="tablist">
      <button role="tab" id="tab-display" class="tab <%= tab === 'display' ? 'active' : '' %>"
              ui-action="tab: #tabpanel-display, storyTabs; delete-query-param: tab">Display</button>

      <button role="tab" id="tab-wikitext" class="tab <%= tab === 'wikitext' ? 'active' : '' %>"
              ui-action="tab: #tabpanel-wikitext, storyTabs; set-query-param: tab=wikitext">Wikitext</button>

      <button role="tab" id="tab-json" class="tab <%= tab === 'json' ? 'active' : '' %>"
              ui-action="tab: #tabpanel-json, storyTabs; set-query-param: tab=json">JSON</button>
    </div>
    <div>
      <%- include('partials/gcg/card', { card: card }) %>
    </div>
  </section>
<% } else { %>
  <section>
    <div class="content">
      <p>Card not found.</p>
    </div>
  </section>
<% } %>