<% if (locals.json) { %>
  <script nonce="<%= req.context.nonce %>">
    window.excelData = [].concat(<%- JSON.stringify(json) %>);
    window.excelFileName = "<%= fileName %>";
  </script>
  <div id="excelViewerContainer"></div>
<% } else { %>
  <section class="card">
    <h2>Excel Viewer</h2>
    <div class="content">
      <% if (locals.fileSize) { %>
        <p>File not supported for Excel Viewer (file too big): <%= fileName %></p>
        <p>Max size is 9 MB</p>
      <% } else { %>
        <p>File not found: <%= fileName %></p>
      <% } %>
    </div>
  </section>
<% } %>
