
<section class="card">
  <% if (locals.avatars) { %>
    <h2>Character Stories</h2>
    <div class="content dispFlex flexWrap talign">
      <% avatars.forEach(avatar => { %>
       <a class="secondary spacer3-all w20p" role="button" href="/lists/character-stories/<%= avatar.NameText.replaceAll(' ', '_') %>"><%= avatar.NameText %></a>
      <% }) %>
    </div>
  <% } %>
  <% if (locals.story) { %>
    <h2>Character Story &mdash; <%= story.avatar.NameText %></h2>
    <div class="tab-list" role="tablist">
      <button role="tab" id="displayTab" class="tab-button <%= tab === 'display' ? 'active' : '' %>"
        ui-trigger="tab:display" ui-set-query-param="tab=display">Display</button>
      <button role="tab" id="wikitextTab" class="tab-button <%= tab === 'wikitext' ? 'active' : '' %>"
        ui-trigger="tab:wikitext" ui-set-query-param="tab=wikitext">Wiki-Text</button>
    </div>
    <div role="tabpanel" aria-labelledby="displayTab" class="tab <%= tab === 'display' ? 'active' : 'hide' %>" ui-target="tab:display">
      <% story.fetters.forEach(fetter => { %>
        <hr>
        <div class="content">
          <h3 class="title-text"><%= fetter.StoryTitleText %></h3>
          <% if (fetter.Friendship) { %>
            <h4>Friendship Lv. <%= fetter.Friendship %></h4>
          <% } %>
          <p class="context-text"><%- fetter.StoryContextHtml %></p>
        </div>
      <% }) %>
    </div>
    <div role="tabpanel" aria-labelledby="wikitextTab" class="tab <%= tab === 'wikitext' ? 'active' : 'hide' %>" ui-target="tab:wikitext">
      <div class="content">
        <div class="posRel">
          <textarea id="story-wikitext" readonly class="w100p wikitext autosize"><%= wikitext %></textarea>
          <button class="secondary posAbs" copy-target="story-wikitext"
            ui-tippy-hover="Click to copy to clipboard"
            ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
            style="right: 0; top: 0;">Copy</button>
        </div>
      </div>
    </div>
  <% } %>
  <% if (!locals.avatars && !locals.story) { %>
    <h2>Character Stories</h2>
    <div class="content">
      <p>Character not found for "<code><%= avatarId %></code>"</p>
    </div>
  <% } %>
</section>