<div class="card result-count-card">
  <h2>Total Results: <span><%= olResults.length %></span></h2>
</div>
<% olResults.forEach((olResult, idx) => { %>
  <div id="ol-result-card-<%= idx %>" class="card ol-result">
    <div class="content">
      <div class="fsplit">
        <h4 class="valign">
          <span class="expando" ui-action="expando: #ol-result-content-<%= idx %>"><%- icon('chevron-down', 17) %></span>
          <span style="opacity:0.6">TextMapHash:&nbsp;</span>
          <code><%= olResult.textMapHash %></code>
          <a href="<%= siteHome %>/id-usages?q=<%= olResult.textMapHash %>" role="button" class="secondary small spacer5-left fontWeight500" target="_blank">Usages</a>
        </h4>
        <div class="valign">
          <button class="secondary ol-result-copy"
                  ui-action="copy: #ol-result-<%= idx %>"
                  ui-tippy-hover="Click to copy to clipboard"
                  ui-tippy-flash="{content:'Copied!', delay: [0,2000]}">Copy</button>
        </div>
      </div>
      <div id="ol-result-content-<%= idx %>">
        <% if (olResult.warnings && olResult.warnings.length) { %>
          <% for (let warning of olResult.warnings) { %>
            <p class="error-notice"><strong>Warning:</strong> <%- warning %></p>
          <% } %>
        <% } %>
        <textarea id="ol-result-<%= idx %>" readonly spellcheck="false" translate="no" class="ol-result-textarea wikitext w100p spacer5-top"
                  style="resize:vertical;overflow:auto;font-size:13px;" data-markers="<%= Marker.joining(olResult.markers) %>"><%= olResult.result %></textarea>
        <% if (olResult.duplicateTextMapHashes.length) { %>
          <h5>Duplicate TextMapHashes</h5>
          <p class="spacer5-bottom">List of TextMapHashes whose values are duplicates of <%= olResult.textMapHash %> across all languages.<br>
            Click on a link to see where that hash is used or see <a href="<%= siteHome %>/id-usages?q=<%= olResult.textMapHash %>,<%= olResult.duplicateTextMapHashes.join(',') %>" target="_blank">all usages</a>.</p>
          <ul style="columns:4">
            <li><a style="text-decoration:none" href="<%= siteHome %>/id-usages?q=<%= olResult.textMapHash %>" target="_blank"><%= olResult.textMapHash %></a></li>
            <% for (let textMapHash of olResult.duplicateTextMapHashes) { %>
              <li><a style="text-decoration:none" href="<%= siteHome %>/id-usages?q=<%= textMapHash %>" target="_blank"><%= textMapHash %></a></li>
            <% } %>
          </ul>
        <% } %>
      </div>
    </div>
  </div>
<% }) %>
<% if (!olResults.length) { %>
  <div class="card no-results-found">
    <div class="content">
      <p>No results found for <b><%= searchText %></b></p>
      <p class="spacer5-top">It's possible you might not have an exact match. Try using the <a href="<%= siteHome %>/textmap">TextMap Search</a> tool.</p>
    </div>
  </div>
<% } %>
