<div class="card result-count-card">
  <h2 class="valign">
    <div class="valign">
      <span>Page&nbsp;</span>
      <span><%= resultSetNum + 1 %></span>
      <span style="margin:0 8px">&mdash;</span>
      <span><%= items.length %></span>
      <span>&nbsp;<%= items.length > 1 ? 'items' : 'item' %></span>
    </div>
    <div class="grow"></div>
    <div class="valign">
      <small class="load-more-status" style="opacity:0.8"><%= hasMoreResults ? 'Load more results at bottom' : 'All results loaded' %></small>
    </div>
  </h2>
</div>
<div class="result-wrapper" data-last-line="<%= lastLine %>" data-page="<%= resultSetNum + 1 %>" data-result-set-num="<%= resultSetNum %>">
  <% items.forEach((item, i) => { %>
    <% let itemId = (resultSetNum * SEARCH_TEXTMAP_MAX) +  (i+1); %>
    <section data-hash="<%= item.hash %>" class="card">
      <h2 class="valign" style="font-size: 16px;padding: 3px 10px;">
        <span style="opacity:0.6">TextMapHash:&nbsp;</span><code style="margin-top:1px;margin-bottom:-1px"><%= item.hash %></code>
        <span class="grow"></span>
        <small class="fontWeight400 spacer10-right" style="opacity:0.5">Result #<%= itemId %></small>
        <button class="secondary small fontWeight500 spacer5-right" ui-action="copy: #wikitext-<%= itemId %>"
                ui-tippy-hover="Click to copy to clipboard"
                ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                style="margin:5px 0">Copy</button>
        <a role="button" class="secondary small fontWeight500 spacer5-right" href="<%= siteHome %>/OL?q=<%= item.hash %>" target="_blank">
          <span class="spacer5-right">OL Result</span><%- icon('external-link') %>
        </a>
        <button class="excel-usages-trigger secondary small fontWeight500 expand-action collapsed-state"
                data-hash="<%= item.hash %>"
                data-result-target="excel-usages-<%= itemId %>" ui-tippy-hover="Load usages">
          <span class="spacer3-right">Usages</span>
          <span class="excel-usages-trigger-icon collapsed-only valign"><%- icon('chevrons-down') %></span>
          <span class="excel-usages-trigger-icon expanded-only valign"><%- icon('chevrons-up') %></span>
          <span class="excel-usages-loading-icon valign justifyCenter hide" style="width:13.75px">
            <span class="loading small"></span>
          </span>
        </button>
      </h2>
      <div class="dialogue-section content" style="margin:0;padding: 7px 7px 2px;">
        <textarea id="wikitext-<%= itemId %>" data-markers="<%= Marker.joining(item.markers) %>"
                  readonly class="w100p wikitext autosize spacer0-all" spellcheck="false" translate="no"><%= item.text %></textarea>
      </div>
      <div id="excel-usages-<%= itemId %>" class="excel-usages-result collapsed hide" style="margin-top:-5px"></div>
      <div style="height:6px"></div>
    </section>
  <% }) %>
  <% if (hasMoreResults) { %>
    <section class="card search-load-more-container">
      <div class="content">
        <button id="search-load-more" class="dispBlock primary primary--2 w100p" style="padding:5px">Click to load next page</button>
      </div>
    </section>
  <% } %>
  <% if (!items.length) { %>
    <section class="card">
      <div class="content">
        <strong>No matches found.</strong>
        <% if (langSuggest && !langSuggest.matchesInputLangCode) { %>
          <p class="error-notice spacer10-top">
            Your input language is <strong style="font-size:1.2em"><%= req.context.languages[req.context.inputLangCode] %></strong>
            but the query you entered was detected to be <strong style="font-size:1.2em"><%= langSuggest.detected.langName %></strong>
          </p>
        <% } %>
      </div>
    </section>
  <% } %>
</div>
