
<% Object.keys(idToUsages).forEach(id => { %>
  <section class="card">
    <h2>ID: <strong><%= id %></strong></h2>
    <div class="content">
      <% if (Object.keys(idToUsages[id]).length) { %>
        <ul>
          <% Object.keys(idToUsages[id]).forEach(file => { %>
            <li>
              <div>File <strong><%= file %></strong>:</div>
              <ul>
                <% for (let item of idToUsages[id][file]) { %>
                  <li>
                    <div>Line <code><%= item.lineNumber %></code><% if (item.field) { %>, field <code><%= item.field %></code><% } %></div>
                    <% if (item.refObject) { %>
                      <div>Ref Object:</div>
                      <textarea class="code json w100p autosize"><%= JSON.stringify(item.refObject, null, 2) %></textarea>
                    <% } %>
                  </li>
                <% } %>
              </ul>
            </li>
          <% }) %>
        </ul>
      <% } else { %>
        <ul>
          <li>No usages</li>
        </ul>
      <% } %>
    </div>
  </section>
<% }) %>
<% if (!Object.keys(idToUsages).length) { %>
  <section class="card">
    <div class="content">
      <strong>No results found.</strong>
    </div>
  </section>
<% } %>