<% olResults.forEach((olResult, idx) => { %>
  <div class="card ol-result">
    <div class="content">
      <div class="fsplit spacer5-bottom">
        <h4>TextMap ID: <%= olResult.textMapId %></h4>
        <button class="secondary ol-result-copy"
                ui-action="copy: #ol-result-<%= idx %>"
                ui-tippy-hover="Click to copy to clipboard"
                ui-tippy-flash="{content:'Copied!', delay: [0,2000]}">Copy</button>
      </div>
      <div id="ol-result-<%= idx %>" contenteditable="true" readonly spellcheck="false" class="ol-result-textarea w100p code"
           style="resize:vertical;overflow:auto;font-size:13px;"><%- olResult.result %></div>
    </div>
  </div>
<% }) %>
<% if (!olResults.length) { %>
  <div class="card no-results-found">
    <div class="content">
      <p>No results found for <b><%= searchText %></b></p>
    </div>
  </div>
<% } %>