<div class="wrapper">
  <div class="talign">
    <main class="f70p">
      <%- include(subview, sublocals) %>
    </main>
    <aside class="f30p">
      <section class="card">
        <h2>Tools</h2>
        <div class="content">
          <a class="secondary dispBlock spacer3 textAlignLeft <%= req.context.bodyClass.includes('page--quests') ? 'selected' : '' %>" role="button" href="/quests">Quest Dialogue Generator</a>
          <a class="secondary dispBlock spacer3 textAlignLeft <%= req.context.bodyClass.includes('page--branch-dialogue') ? 'selected' : '' %>" role="button" href="/branch-dialogue">Single Branch Dialogue Generator</a>
          <a class="secondary dispBlock spacer3 textAlignLeft <%= req.context.bodyClass.includes('page--OL') ? 'selected' : '' %>" role="button" href="/OL">Other Languages Generator</a>
          <a class="secondary dispBlock spacer3 textAlignLeft <%= req.context.bodyClass.includes('page--reminders') ? 'selected' : '' %>" role="button" href="/reminders">Reminder Dialogue Generator</a>
        </p>
      </section>
      <section class="card">
        <h2>Lists</h2>
        <div class="content">
          <a class="secondary dispBlock spacer3 textAlignLeft <%= req.context.bodyClass.includes('page--character-stories') ? 'selected' : '' %>" role="button" href="/lists/character-stories">Character Stories</a>
          <a class="secondary dispBlock spacer3 textAlignLeft <%= req.context.bodyClass.includes('page--companion-dialogue') ? 'selected' : '' %>" role="button" href="/lists/companion-dialogue">Serenitea Pot Dialogue</a>
          <a class="secondary dispBlock spacer3 textAlignLeft <%= req.context.bodyClass.includes('page--all-reminders') ? 'selected' : '' %>" role="button" href="/lists/all-reminders">All Reminder Dialogue</a>
        </p>
      </section>
    </aside>
  </div>
</div>