<div class="wrapper">
  <div class="talign">
    <main class="f70p">
      <%- include(subview, sublocals) %>
    </main>
    <aside class="f30p">
      <section class="card">
        <h2>Tools</h2>
        <div class="content">
          <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--quests', 'selected') %>" role="button" href="/quests">Quest Dialogue Generator</a>
          <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--branch-dialogue', 'selected') %>" role="button" href="/branch-dialogue">Single Branch Dialogue Generator</a>
          <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--npc-dialogue', 'selected') %>" role="button" href="/npc-dialogue">NPC Dialogue Generator</a>
          <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--OL', 'selected') %>" role="button" href="/OL">Other Languages Generator</a>
          <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--reminders', 'selected') %>" role="button" href="/reminders">Reminder Dialogue Generator</a>
        </p>
      </section>
      <section class="card">
        <h2>Lists</h2>
        <div class="content">
          <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--character-stories', 'selected') %>" role="button" href="/lists/character-stories">Character Stories</a>
          <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--companion-dialogue', 'selected') %>" role="button" href="/lists/companion-dialogue">Serenitea Pot Dialogue</a>
          <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--all-reminders', 'selected') %>" role="button" href="/lists/all-reminders">All Reminder Dialogue</a>
        </p>
      </section>
    </aside>
  </div>
</div>