<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= req.context.formattedPageTitle %></title>
    <meta name="csrf-token" content="<%= locals.csrfToken || '' %>">
    <% req.context.styles.forEach(styleHref => { %>
      <%- compileResourceElement(styleHref, 'css') %>
    <% }); %>
    <script nonce="<%= req.context.nonce %>">
    document.addEventListener('DOMContentLoaded', function() {
      var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;

      if (isIE11) {
        document.getElementById('ie11-error-notice').removeAttribute('style');
      }

      var isIELte10 =
        window.navigator.userAgent.indexOf('Trident/') > 0 ||
        window.navigator.userAgent.indexOf('MSIE ') > 0;

      if (isIELte10 && !isIE11) {
        document.getElementById('ieLte10-error-notice').removeAttribute('style');
      }
    });
    function waitForConstant(variableName, callback, interval = 50) {
      if (window[variableName]) {
        callback(window[variableName]);
        return;
      }
      setTimeout(() => {
        waitForConstant(variableName, callback, interval);
      }, interval);
    }
    function waitForElement(query, callback, interval = 50) {
      let el;
      if ((el = document.querySelector(query))) {
        callback(el);
        return;
      }
      setTimeout(() => {
        waitForElement(query, callback, interval);
      }, interval);
    }
    </script>
    <% req.context.scripts.forEach(scriptSrc => { %>
      <%- compileResourceElement(scriptSrc, 'js') %>
    <% }); %>
    <template id="template-info-icon">
      <%- icon('info') %>
    </template>
    <template id="template-alert-icon">
      <%- icon('alert-triangle') %>
    </template>
  </head>
  <body class="<%= req.context.bodyClassString %> <%= req.cookies['nightmode'] ? 'nightmode' : '' %>">
    <span id="top" style="height:0;width:0;opacity:0"></span>
    <header id="header" class="thin-border" role="navigation" aria-label="Main">
      <div class="left">
        <a id="site-title" href="/" aria-label="Site title">
          <div id="site-logo-bg"></div>
          <div id="site-logo-fg"><%- icon('home') %></div>
          <span style="line-height:21px;margin-top:-3px">
            <small style="opacity:0.65">kwwxis's</small><br><%= config.views.siteTitle %>
          </span>
        </a>
      </div>
      <div class="right">
        <div class="toggle-theme-buttons valign button-group">
          <button class="secondary <%= req.cookies['nightmode'] ? '' : 'selected' %>" value="daymode"><%- icon('sun') %></button>
          <button class="secondary <%= req.cookies['nightmode'] ? 'selected' : '' %>" value="nightmode"><%- icon('moon') %></button>
        </div>
      </div>
    </header>
    <div>
      <!--[if IE]>
      <p id="ie-error-notice" class="error-notice js-error-notice">
          <strong>This website may not work properly on Internet Explorer. Try Chrome or Firefox.</strong>
      </p>
      <![endif]-->
      <p id="ieLte10-error-notice" style="display:none" class="error-notice js-error-notice">
          <strong>This website may not work properly on Internet Explorer. Try Chrome or Firefox.</strong>
      </p>
      <p id="ie11-error-notice" style="display:none" class="error-notice js-error-notice">
          <strong>This website may not work properly on Internet Explorer. Try Chrome or Firefox.</strong>
      </p>
    </div>
    <div class="content"><%- include(subview, sublocals) %></div>
    <footer>
      <div class="wrapper valign">
        <section class="credit">
          <p>kwwxis's genshin wiki tools</p>
        </section>
        <section class="footer-links">
          <a href="http://genshin-impact.fandom.com/">Genshin Wiki</a>
        </section>
      </div>
    </footer>
  </body>
</html>