<section class="card">
  <h2>Viewpoints</h2>
  <div class="content">
    <p class="error-notice">The <code>area</code> and <code>subarea</code> parameter values aren't always accurate
      but the tool tries to figure it out the best it can. Make sure to check it manually.</p>

    <p>Section Jump:</p>
    <ul>
      <% for (let regionName of Object.keys(viewpointsList)) { %>
        <li><a href="#<%= regionName.replace(' ', '_') %>"><%= regionName %></a></li>
      <% } %>
    </ul>
  </div>
</section>
<% for (let [regionName, viewpoints] of Object.entries(viewpointsList)) { %>
  <section class="card" id="<%= regionName.replace(' ', '_') %>">
    <h2><%= regionName %></h2>
    <div class="content">
      <% for (let viewpoint of viewpoints) { %>
        <textarea readonly class="w100p wikitext autosize" spellcheck="false"><%= viewpoint.Wikitext %></textarea>
      <% } %>
    </div>
  </section>
<% } %>